@use "../shared" as *;

.autocomplete-helper {
  --border-radius: #{$border-radius-medium};
  position: absolute !important;
	// bottom: calc(100% + .625rem);
	bottom: calc(100% + .5rem);
	overflow: hidden;
	padding: 0 !important;
  border-radius: var(--border-radius) !important;
	max-width: 100%;
	inset-inline-start: 0;
  width: auto !important;
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-color);

  &:not(.is-visible) {
		display: none;
	}

	&.is-visible {
		visibility: hidden;
	}

	@include animation-level(2) {
		&.is-visible {
			animation: fade-out-opacity .2s ease-in-out forwards;
			transition: visibility 0s .2s;
		}
	}

	.chat-input:not(.is-selecting) &.is-visible.forwards,
	#stories-viewer &.is-visible.forwards {
		visibility: visible;

		@include animation-level(2) {
			animation-name: fade-in-opacity;
			transition: visibility 0s 0s;
		}
	}

	@media only screen and (max-width: 319px) { 
		max-width: calc(100vw - var(--padding-horizontal) * 4);
	}
}
