.badge {
  border-radius: .75rem;
  font-weight: 500;
  color: white;
  font-size: .875rem;
  transition: background-color .2s ease-in-out;

  &:not(.tgico):empty {
    display: none;
  }

  &-20 {
    height: 1.25rem;
    min-width: 1.25rem;
    line-height: 1.25rem !important;
    padding: 0 5.75px;
  }

  &-24 {
    height: 1.5rem;
    min-width: 1.5rem;
    line-height: 1.5rem !important;
    padding: 0 7.75px;

    &.tgico {
      font-size: 1.5rem;
      width: 1.5rem;
    }
  }

  &.tgico {
    padding: 0;
  }

  &-green {
    background-color: $color-green;
  }

  &-blue {
    background-color: $color-blue;
  }

  &-gray {
    background-color: #c5c9cc;
  }
}