.chatlist-container {
  position: relative;

  .search-group-recent.search-group {
    @include respond-to(handhelds) {
      padding: 2px 0 0;
    }
  }

  ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    user-select: none;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
  }

  li {
    background-color: #fff;

    @include respond-to(handhelds) {
      padding-bottom: 0px;
    }

    &.is-muted {
      .user-title {
        &:after {
          flex: 0 0 auto;
          content: $tgico-nosound;
          color: #a3a3a3;
          font-size: 1.125rem;
          margin-left: .125rem;
        }
      }

      body:not(.animation-level-0) & {
        &.animating {
          &:not(.backwards) {
            .user-title:after {
              animation: fade-in-opacity .2s ease-in-out forwards;
            }
          }
  
          &.backwards .user-title:after {
            animation: fade-in-backwards-opacity .2s ease-in-out forwards;
          }
        }
      }
    }
  }

  li > .rp {
    height: 72px;
    max-height: 72px;
    border-radius: $border-radius-medium;
    display: flex;
    align-items: flex-start; // TODO: проверить разницу в производительности с align-items: center;
    flex-direction: row;
    position: relative;
    cursor: pointer;
    padding: 9px 8.5px;
    margin: 0 8px;
    overflow: hidden;

    /* html.is-safari & {
      margin-right: 3px;
    } */

    @include respond-to(handhelds) {
      padding: 9px 12px 9px 9px !important;
      border-radius: 0;
      margin: 0;
      overflow: hidden;
    }

    html.no-touch &:hover {
      background: var(--color-gray-hover);
    }

    span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      //margin: .1rem 0;
      line-height: 27px;
    }

    p {
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      height: 27px;
    }

    a {
      color: inherit;
    }

    .text-highlight {
      color: #000;
    }

    /* img.emoji {
      margin-right: .25rem;
      margin-left: .25rem;

      &:first-child {
        margin-left: 0;
      }
    } */
  }

  li.menu-open {
    > .rp {
      background: var(--color-gray-hover);
    }
  }

  @include respond-to(not-handhelds) {
    li.active > .rp {
      background: var(--color-gray-hover);
    }
  }

  .dialog {
    &-title {
      &-details {
        font-size: .75rem;
        padding: 1px 0px 0px 0px;
        flex: 0 0 auto;
        margin-left: .5rem;
      }
    }
    
    &-subtitle {
      &-badge {
        &:not(:empty), &.tgico-pinnedchat {
          margin-left: .5rem;
        }
      }
    }
  }

  .dialog-avatar {
    flex: 0 0 auto;
  }

  .user-caption {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    color: $color-gray;
    flex: 1 1 auto;
    //padding: 1px 3.5px 1px 9px; - DO MAKETA JS3
    padding: 1px 8.5px 1px 9px; // JS3

    p:last-child {
      margin-top: -3px;
    }
  }

  .user-title {
    display: flex !important;
    align-items: center;

    img.emoji {
      vertical-align: top;
      margin-top: 4px;
      width: 18px;
      height: 18px;
    }

    /* span.emoji {
      &:first-of-type:not(:first-child) {
        margin-left: .125rem;
      }
    } */

    .verified-icon {
      flex: 0 0 auto;
      content: " ";
      background: url(assets/img/icon-verified.svg);
      width: 20px;
      height: 20px;
      margin-left: .125rem;
    }
  }

  .user-last-message {
    img.emoji {
      width: 20px;
      height: 20px;
      margin-top: -3px;
    }

    span.emoji {
      font-size: 1.2rem;
      margin: 0 .125rem;
      overflow: visible;
      //margin-top: -1.5px;
    }
  }

  .user-title, .user-last-message {
    i {
      font-style: normal;
      //color: $color-blue;
    }
  }

  .message-status {
    margin-right: .1rem;
    //margin-top: .3rem;
    margin-top: -.3rem;

    &[class*=" tgico-"] {
      color: $color-green;
      font-size: 1.25rem;
    }

    &:before {
      vertical-align: middle;
    }
  }

  .dialog-subtitle-badge {
    margin-top: 4px;
    margin-right: -3px;
    margin-left: .25rem;
    flex: 0 0 auto;
  }

  .tgico-chatspinned {
    background: transparent;
    position: relative;

    &:before {
      color: #a2abb2;
      transition: opacity .2s ease-in-out;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.unread {
      &:before {
        opacity: 0;
      }
    }
  }

  .unread, li.is-muted.backwards .unread {
    background: $color-green;
  }

  li.is-muted .unread {
    background: #c5c9cc;
  }

  .search-group {
    width: 100%;
    //border-bottom: 1px solid #DADCE0;
    padding: 1rem 0 .5rem;
    margin-bottom: 17px;

    @include respond-to(handhelds) {
      margin-bottom: 0;
    }

    &__name {
      color: $color-gray;
      padding: 0 23px;
      padding-bottom: 1rem;
      font-weight: 500;
      user-select: none;

      @include respond-to(handhelds) {
        padding: 5px 9px 0 16px;
        font-size: 15px;
      }
    }

    &-contacts {
      border-bottom: 1px solid #dadce0;

      @include respond-to(handhelds) {
        padding: 0px 0 2px;
      }

      // .search-group__name {
      //   padding-bottom: 17px;
        
      //   @include respond-to(handhelds) {
      //     padding-bottom: 0;
      //   }
      // }
    }

    &-people.search-group-contacts {
      padding: 5px 0 5px !important;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .search-super {
    .search-group {
      margin-bottom: 0px;
      padding: 4px 0 0;

      &__name {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
      }
    }
  }

}

// use together like class="chatlist-container contacts-container"
.contacts-container, .search-group-contacts {
  li {
    //margin-bottom: 2px;
    padding-bottom: 4px;
    padding-top: 2px;

    @include respond-to(handhelds) {
      padding: 0;
    }
  }

  li > .rp {
    padding: 9px 11.5px !important;
    height: 66px;

    //@include respond-to(handhelds) {
      //height: 62px;
    //}
  }

  .user-caption {
    padding: 1px 3.5px 1px 13px;

    @include respond-to(handhelds) {
      padding: 0px 4px 0px 14px;
    }
  }

  .user-title, b, .user-last-message b {
    font-weight: normal;
  }

  p {
    height: 24px;

    @include respond-to(handhelds) {
      height: 26px;
    }
  }

  span.user-last-message {
    font-size: 14px;
  }
}

#contacts-container {
  .sidebar-header {
    margin-bottom: 1px;
  }
  
  .input-search {
    margin-left: 16px;
  }
}
