.emoji-helper {
  height: 50px;
  padding: .25rem 0 !important;
  //transition: width .15s ease-in-out;

  > .scrollable {
    position: relative;
    width: auto;
  }

  .super-emojis {
    display: block;
    white-space: nowrap;
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    
    &:before, &:after {
      display: inline-block;
      content: " ";
      //flex: 0 0 auto;
      width: .1875rem;
    }
  }

  /* .super-emoji {
    flex: 0 0 auto;
  } */

  .super-emoji:not(.active) {
    @include hover() {
      background: none;
    }
  }

  .super-emoji.active {
    background-color: var(--primary-color) !important;
  }
}
