@use "sass:math";
@use "../shared" as *;

$chat-helper-size: 45px;
$chat-input-box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 12%);

$input-transition-time: .2s;
$input-half-transition-time: math.div($input-transition-time, 2);
$background-transition-time: 0.05s;
$background-transition-total-time: #{$input-transition-time - $background-transition-time};

$bubble-margin: .125rem;
$bubble-margin-big: .375rem;
$bubble-overflow: math.max(math.div($bubble-margin-big, 8), .0625rem);
$bubble-overflow-big: math.div($bubble-margin-big, 2);
$bubble-beside-button-width: 38px;
$bubble-border-radius-medium: 5px;
$bubble-border-radius-big: 15px;
$message-padding-top: 4px;
$message-padding-bottom: 5px;
$message-padding-horizontal: 8px;
$reply-padding-top: 8px;
$reply-padding-horizontal: 8px;
$time-margin-left: math.div($message-padding-horizontal, -2) + 1px;
