.ckin {
  &__player {
    letter-spacing: 0.02em;
  }

  &__overlay {
    position: relative;

    &:before {
      background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    }

    &--2:before {
      background: rgba(24, 24, 24, 0.8);
    }
  }
}

.ckin__player.ckin__fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10000000;
  background: #000;
  border-radius: 0 !important;
  display: -ms-flexbox;
  display: flex;

  video {
    max-height: none;
    max-width: none;
    object-fit: contain;
  }
}

.default {
  border: 0 solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  //border-radius: 5px;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity .2s;
    opacity: 1;
    visibility: visible;
  }

  &__title {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-style: italic;
  }

  &__button {
    background: none;
    border: 0;
    color: #fff;
    outline: 0;
    padding: 3px 10px 6px 10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    display: flex;
    align-items: center;

    i {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }

    &--big {
      background: none;
      border: 0;
      line-height: 1;
      color: #fff;
      text-align: center;
      outline: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      opacity: 1;
      visibility: visible;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
      font-size: 64px;
      transition: all .2s;
      -ms-touch-action: manipulation;
          touch-action: manipulation;
    }
  }

  &__slider {
    width: 10px;
    height: 30px;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s;
    text-align: left;
    direction: ltr;
    border-radius: 0 0 5px 5px;
    z-index: 6;
  }
}

.default__gradient-bottom {
  height: 49px;
  // padding-top: 49px;
  padding-top: 93px;
  bottom: 0;
  z-index: 2;
  background-position: bottom;
  width: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}

.default.is-playing .default__gradient-bottom {
  -ms-transform: translateY(50px);
      transform: translateY(50px);
}

.default.is-playing:hover .default__gradient-bottom {
  -ms-transform: translateY(0px);
      transform: translateY(0px);
}

.default.is-playing:before {
  opacity: 0;
  visibility: hidden;
  -ms-transform: translate(-50%, -50%) scale(1.3);
      transform: translate(-50%, -50%) scale(1.3);
}

.default.is-playing .default__button--big {
  opacity: 0;
  visibility: hidden;
}

.default.is-playing .default__controls {
  -ms-transform: translateY(52px);
      transform: translateY(52px);
}

.default.is-playing:hover .default__controls {
  -ms-transform: translateY(0);
      transform: translateY(0);
}

.default {
  .media-progress {
    margin: 0 16px;
    height: 5px;
    transition: height 0.3s;
    background: rgba(255, 255, 255, 0.38);
    border-radius: 4px;
    overflow: visible;

    &__filled {
      background: #63a2e3;
      transform-origin: left;
      border-radius: 4px;
      height: 5px;
      transform: scaleX(0);
    }
  }
}

@media (max-width: 480px) {
  .ckin__player button {
    font-size: 18px;
  }
}

video::-webkit-media-controls-enclosure {
  display: none !important;
}

.media-progress {
  position: relative;
  cursor: pointer;

  input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    height: 4.5px;
    cursor: pointer;
    padding: 0;
    outline: none;

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: transparent;
      }

      &::-moz-range-track {
        outline: none;
      }
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      border-radius: 1.3px;
      -webkit-appearance: none;
      transition: all 0.4s ease;
    }

    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius: 16px;
      background: #63a2e3;
      cursor: pointer;
      -webkit-appearance: none;
      margin-left: -1px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      border: 1px solid transparent;
      background: transparent;
      border-radius: 1.3px;
    }

    &::-moz-range-thumb {
      height: 14px;
      width: 14px;
      border-radius: 50px;
      border: 1px solid #63a2e3;
      background: #63a2e3;
      cursor: pointer;
      margin-top: 5px;
    }
  }

  &__seek {
    position: absolute;
    top: 0;
    width: 100%;
    cursor: pointer;
    margin: 0;
  }
}

input[type=range] {
  &::-ms-track {
    visibility: hidden;
  }

  &::-ms-ticks {
    background: none;
    color: none;
    border: none;
  }

  &::-ms-thumb {
    visibility: hidden;
  }

  &::-ms-tooltip {
    visibility: hidden;
  }
}

.left-controls {
  display: flex;
  align-items: center;
}

.right-controls {
    float: right;
}

.bottom-controls {
  padding: 3px 4px 0px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  float: right;
  padding: 7px 0px 9px 14px;
  font-size: 15px;
  color: white;
}

.circle .circle-time {
  color: #fff;
  font-size: 13px;
  float: left;
  //margin-top: 1px;
}
.circle .circle-time-left {
  position: absolute;
  top: 3px;
  left: 2px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.23);
  padding: 1px 7px 2px 7px;
  z-index: 2;
  display: flex;
  align-items: center;
}
video[data-ckin="circle"] {
  border-radius: 50%;
  overflow: hidden;
}
.progress-ring {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;

  &__circle {
    transition: stroke-dashoffset;
  }
}

.ckin__player.circle {
  position: relative;
  width: 200px;
  height: 200px;
}

.iconVolume {
  padding: 0 1px 0 3px;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #fff;
}
