.emoji-dropdown {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 282px;
	background: #fff;
	display: flex;
	overflow: hidden;
	flex: 0 0 auto;
	
	@include respond-to(not-handhelds) {
		position: absolute !important;
		left: 0;
		bottom: calc(82px);
		width: 420px !important;
		height: 420px;
		box-shadow: 0px 5px 10px 5px rgba(16, 35, 47, 0.14);
		z-index: 3;
		border-radius: 10px;
		transition: all 0.2s ease-out;
		transform: scale(0);
		transform-origin: 0 100%;

		&.active {
			transition: all 0.2s ease-in;
			transform: scale(1);
		}
	}
	
	> .menu-horizontal {
		//font-weight: 500;
		margin-top: 2px;
	}
	
	.emoji-container {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		height: 100%;
	}

	.btn-icon {
		color: #8d969c;
	}

	.emoji-tabs {
		ul {
			justify-content: center;
		}

		&-search {
			position: absolute;
			left: 0;
		}

		&-delete {
			position: absolute;
			right: 0;
		}
	}
	
	.tabs-container {
		/* width: 300%; */
		height: 100%;

		.category-title {
			position: sticky;
			top: 0;
			font-size: .85rem;
			color: $color-gray;
			background: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.9) 60%,rgba(255,255,255,0) 100%);
			z-index: 2;
			padding: .53333rem 6PX .66667rem;
			width: 100%;
		}
		
		.emoji-category {
			padding-top: 1px;
			position: relative;

			.category-items {
				display: grid;
				grid-column-gap: 2.44px;
				grid-template-columns: repeat(9, 1fr);

				font-size: 2.25rem;
				line-height: 2.25rem;

				> span {
					margin: 0;
					padding: 4px 4px;
					line-height: inherit;
					border-radius: 8px;
					cursor: pointer;
					user-select: none;
					
					width: 42px;
					height: 42px;
					
					.emoji {
						width: 100%;
						height: 100%;
					}
					
					html.no-touch &:hover {
						background-color: rgba(112, 117, 121, 0.08);
					}
				}
			}

			&:first-child {
				padding-top: 5px;
			}

			/* &::after {
				content: "";
				flex: auto;
			} */
		}
		
		.sticker-category {
			position: relative;
			
			&::after {
				content: "";
				flex: auto;
			}

			/* &.not-full::after {
				content: "";
				flex: auto;
			} */

			.category-items {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				grid-column-gap: 1px;

				> div {
					width: 80px;
					height: 80px;
					display: flex;
					align-items: center;
					/* overflow: hidden; */
					cursor: pointer;
					user-select: none;
					/* margin: 3.5px 0;
					margin-right: 6.25px; */
					padding: 1px 2.5px;
					justify-content: center;
					border-radius: 12px;
					padding: 0;
					
					html.no-touch &:hover {
						background-color: rgba(112, 117, 121, 0.08);
					}
					
					/* &:nth-child(5n+5) {
						margin-right: 0;
					} */
					
					> img {
						max-width: 100%;
						max-height: 100%;
						animation: fadeIn .2s ease forwards;
					}
				}
			}
		}
		
		> div {
			min-height: 100%;
			/* display: flex; */
			flex-direction: column;
			height: 100%;
		}

		.emoticons-content {
			flex: 1;
			padding: 0;
		}
		
		.scrollable {
			padding: 0 10px;
		}
	}
	
	.emoji-padding {
		.menu-horizontal {
			border-bottom: 1px solid $lightgrey;
		}
	}
	
	.emoji-padding, .stickers-padding {
		.menu-horizontal {
			height: 47px;
			border-bottom: none;
			padding: 2px 2px 2px 2px;
			width: 100%;
		}
	}
	
	#content-stickers {
		.scrollable {
			padding: 15px 5px 0;
		}
	}

	.menu-horizontal {
		width: 100%;
		height: 50px;

		li {
			font-size: 1.65rem;
			padding: 0;
			width: 50px;
			height: 50px;
			line-height: 50px;
			display: flex;
			align-items: center;
			flex: 0 0 auto;
		}
	} 
	
	.stickers-padding {
		.menu-wrapper {
			padding: 0;
			height: 50px;
			max-width: 100%;
			border-top: 1px solid $lightgrey;
		}
		
		li {
			/* width: calc(100% / 7); */
			flex: 0 0 auto;
			
			&.active {
				&:not(.tgico-recent) {
					background-color: rgba(112, 117, 121, 0.08);
				}
			}
			
			> canvas, > img {
				padding: .75rem;
				max-width: 100%;
				max-height: 100%;
				width: 100%;
				height: 100%;
			}
		} 
	}

	#content-gifs {
		.gifs-masonry {
			display: flex;
			flex-wrap: wrap;

			> div {
				flex: 1 0 auto;
				max-width: 100%;
				height: 100px;
				margin: 2.5px;
				cursor: pointer;
				background: #000;
				position: relative;

				video {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
