.folders-sidebar {
  position: relative;
  flex: 80px 0 0;

  --background: #212121;
  --background-hover: #272727;

  background-color: var(--background);
  color: #717579;

  z-index: 4;

  @include respond-to(until-floating-left-sidebar) {
    flex: 0 0 0;
    display: none;
  }

  &__folder-item {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);

    flex-direction: column;
    gap: 6px;

    padding: 12px 0;
    min-height: 56px;

    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    
    cursor: pointer;

    > .tgico {
      font-size: 30px;
    }

    > .badge {
      position: absolute;
      top: 6px;
      right: 19px;

      font-size: 12px;
      line-height: 18px !important;

      box-shadow: 0 0 0 1px var(--background);
    }

    &-name {
      max-width: 80%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    
    &--selected {
      color: var(--primary-color);
    }

    &:hover {
      --background: var(--background-hover);
    }
  }

  &__menu-button {
    > .tgico {
      font-size: 24px;
    }

    .btn-menu {
      inset-inline: 48px auto;
    }
  }

  .btn-new-menu {
    display: none;
    position: absolute !important;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%) !important;

    .btn-menu.top-left {
      --transform-origin-x: var(--transform-origin-inline-start);
      inset-inline: 0 auto;
      inset-block: auto 120%;
    }

    @include respond-to(no-floating-left-sidebar) {
      html:has(#column-left.is-collapsed) & {
        display: flex;
      }
    }
  }
}

.night .folders-sidebar {
  --background: #141414;
  --background-hover: #1d1d1d;
}
