// ! https://icomoon.io/app/#/select

@font-face {
  font-family: "#{$tgico-font-family}";
  src:
    url('#{$tgico-font-path}/#{$tgico-font-family}.ttf?vptykr') format('truetype'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.woff?vptykr') format('woff'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.svg?vptykr#tgico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* [class^="tgico-"]:before,
[class^="tgico-"]:after, */
[class^="tgico-"],
.tgico:before,
.tgico:after,
[class*=" tgico-"]:before,
[class*=" tgico-"]:after {
  font-family: "#{$tgico-font-family}" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.tgico-permissions:before {
  content: "\e900";
}
.tgico-phone:before {
  content: "\e901";
}
.tgico-photo:before {
  content: "\e902";
}
.tgico-pin:before {
  content: "\e903";
}
.tgico-pinlist:before {
  content: "\e904";
}
.tgico-pinned_filled:before {
  content: "\e905";
}
.tgico-pinnedchat:before {
  content: "\e906";
}
.tgico-play:before {
  content: "\e907";
}
.tgico-poll:before {
  content: "\e908";
}
.tgico-previous:before {
  content: "\e909";
}
.tgico-radiooff:before {
  content: "\e90a";
}
.tgico-radioon:before {
  content: "\e90b";
}
.tgico-readchats:before {
  content: "\e90c";
}
.tgico-recent:before {
  content: "\e90d";
}
.tgico-replace:before {
  content: "\e90e";
}
.tgico-reply:before {
  content: "\e90f";
}
.tgico-revote:before {
  content: "\e910";
}
.tgico-savedmessages:before {
  content: "\e911";
}
.tgico-schedule:before {
  content: "\e912";
}
.tgico-scheduled:before {
  content: "\e913";
}
.tgico-search:before {
  content: "\e914";
}
.tgico-select:before {
  content: "\e915";
}
.tgico-send:before {
  content: "\e916";
}
.tgico-send2:before {
  content: "\e917";
}
.tgico-sending:before {
  content: "\e918";
}
.tgico-sendingerror:before {
  content: "\e919";
}
.tgico-settings:before {
  content: "\e91a";
}
.tgico-smallscreen:before {
  content: "\e91b";
}
.tgico-smile:before {
  content: "\e91c";
}
.tgico-sport:before {
  content: "\e91d";
}
.tgico-stickers:before {
  content: "\e91e";
}
.tgico-stop:before {
  content: "\e91f";
}
.tgico-strikethrough:before {
  content: "\e920";
}
.tgico-textedit:before {
  content: "\e921";
}
.tgico-tip:before {
  content: "\e922";
}
.tgico-unarchive:before {
  content: "\e923";
}
.tgico-underline:before {
  content: "\e924";
}
.tgico-unlock:before {
  content: "\e925";
}
.tgico-unmute:before {
  content: "\e926";
}
.tgico-unpin:before {
  content: "\e927";
}
.tgico-unread:before {
  content: "\e928";
}
.tgico-up:before {
  content: "\e929";
}
.tgico-user:before {
  content: "\e92a";
}
.tgico-username:before {
  content: "\e92b";
}
.tgico-zoomin:before {
  content: "\e92c";
}
.tgico-zoomout:before {
  content: "\e92d";
}
.tgico-check:before {
  content: "\e92e";
}
.tgico-checks:before {
  content: "\e92f";
}
.tgico-activesessions:before {
  content: "\e930";
}
.tgico-add:before {
  content: "\e931";
}
.tgico-addmember_filled:before {
  content: "\e932";
}
.tgico-adduser:before {
  content: "\e933";
}
.tgico-admin:before {
  content: "\e934";
}
.tgico-animals:before {
  content: "\e935";
}
.tgico-archive:before {
  content: "\e936";
}
.tgico-arrow_back:before {
  content: "\e937";
}
.tgico-arrow_down:before {
  content: "\e938";
}
.tgico-arrow_next:before {
  content: "\e939";
}
.tgico-attach:before {
  content: "\e93a";
}
.tgico-avatar_archivedchats:before {
  content: "\e93b";
}
.tgico-avatar_deletedaccount:before {
  content: "\e93c";
}
.tgico-avatar_savedmessages:before {
  content: "\e93d";
}
.tgico-bold:before {
  content: "\e93e";
}
.tgico-botcom:before {
  content: "\e93f";
}
.tgico-bots:before {
  content: "\e940";
}
.tgico-calendar:before {
  content: "\e941";
}
.tgico-calendarfilter:before {
  content: "\e942";
}
.tgico-camera:before {
  content: "\e943";
}
.tgico-cameraadd:before {
  content: "\e944";
}
.tgico-car:before {
  content: "\e945";
}
.tgico-channel:before {
  content: "\e946";
}
.tgico-channelviews:before {
  content: "\e947";
}
.tgico-chatsplaceholder:before {
  content: "\e948";
}
.tgico-check1:before {
  content: "\e949";
}
.tgico-checkbox:before {
  content: "\e94a";
}
.tgico-checkboxblock:before {
  content: "\e94b";
}
.tgico-checkboxempty:before {
  content: "\e94c";
}
.tgico-checkboxon:before {
  content: "\e94d";
}
.tgico-close:before {
  content: "\e94e";
}
.tgico-clouddownload:before {
  content: "\e94f";
}
.tgico-colorize:before {
  content: "\e950";
}
.tgico-comments:before {
  content: "\e951";
}
.tgico-commentssticker:before {
  content: "\e952";
}
.tgico-copy:before {
  content: "\e953";
}
.tgico-data:before {
  content: "\e954";
}
.tgico-delete_filled:before {
  content: "\e955";
}
.tgico-delete:before {
  content: "\e956";
}
.tgico-deleteleft:before {
  content: "\e957";
}
.tgico-deleteuser:before {
  content: "\e958";
}
.tgico-document:before {
  content: "\e959";
}
.tgico-down:before {
  content: "\e95a";
}
.tgico-download:before {
  content: "\e95b";
}
.tgico-dragfiles:before {
  content: "\e95c";
}
.tgico-dragmedia:before {
  content: "\e95d";
}
.tgico-eats:before {
  content: "\e95e";
}
.tgico-edit:before {
  content: "\e95f";
}
.tgico-email:before {
  content: "\e960";
}
.tgico-eye1:before {
  content: "\e961";
}
.tgico-eye2:before {
  content: "\e962";
}
.tgico-favourites:before {
  content: "\e963";
}
.tgico-flag:before {
  content: "\e964";
}
.tgico-folder:before {
  content: "\e965";
}
.tgico-forward:before {
  content: "\e966";
}
.tgico-fullscreen:before {
  content: "\e967";
}
.tgico-gifs:before {
  content: "\e968";
}
.tgico-group:before {
  content: "\e969";
}
.tgico-help:before {
  content: "\e96a";
}
.tgico-info:before {
  content: "\e96b";
}
.tgico-info2:before {
  content: "\e96c";
}
.tgico-italic:before {
  content: "\e96d";
}
.tgico-keyboard:before {
  content: "\e96e";
}
.tgico-lamp:before {
  content: "\e96f";
}
.tgico-language:before {
  content: "\e970";
}
.tgico-largepause:before {
  content: "\e971";
}
.tgico-largeplay:before {
  content: "\e972";
}
.tgico-link:before {
  content: "\e973";
}
.tgico-livelocation:before {
  content: "\e974";
}
.tgico-location:before {
  content: "\e975";
}
.tgico-lock:before {
  content: "\e976";
}
.tgico-loginlogodesktop:before {
  content: "\e977";
}
.tgico-loginlogomobile:before {
  content: "\e978";
}
.tgico-logout:before {
  content: "\e979";
}
.tgico-mention:before {
  content: "\e97a";
}
.tgico-menu:before {
  content: "\e97b";
}
.tgico-message:before {
  content: "\e97c";
}
.tgico-microphone:before {
  content: "\e97d";
}
.tgico-microphone2:before {
  content: "\e97e";
}
.tgico-minus:before {
  content: "\e97f";
}
.tgico-monospace:before {
  content: "\e980";
}
.tgico-more:before {
  content: "\e981";
}
.tgico-mute:before {
  content: "\e982";
}
.tgico-muted:before {
  content: "\e983";
}
.tgico-newchannel:before {
  content: "\e984";
}
.tgico-newchat_filled:before {
  content: "\e985";
}
.tgico-newgroup:before {
  content: "\e986";
}
.tgico-newprivate:before {
  content: "\e987";
}
.tgico-next:before {
  content: "\e988";
}
.tgico-noncontacts:before {
  content: "\e989";
}
.tgico-nosound:before {
  content: "\e98a";
}
.tgico-passwordoff:before {
  content: "\e98b";
}
.tgico-pause:before {
  content: "\e98c";
}
