// ! https://icomoon.io/app/#/select

$tgico-font-family: "tgico" !default;
$tgico-font-path: "assets/fonts" !default;

/*
! CAN RUN IN DEVELOPER TOOLS TO CONVERT FONT TO VARIABLES:
`.tgico-select:before {
  content: "\e900";
}`
.toLowerCase()
.replace(/([\s])|(_svg)|(1x)/g, '')
.replace(/\.(.+?):before\{content:"(.+?);\}/g, `$$$1: "\\$2;\n`);
*/

$tgico-dragmedia: "\e900";
$tgico-dragfiles: "\e901";
$tgico-link: "\e902";
$tgico-monospace: "\e903";
$tgico-strikethrough: "\e904";
$tgico-underline: "\e905";
$tgico-italic: "\e906";
$tgico-bold: "\e907";
$tgico-botcom: "\e908";
$tgico-calendarfilter: "\e909";
$tgico-email: "\e90a";
$tgico-passwordoff: "\e90b";
$tgico-commentssticker: "\e90c";
$tgico-comments: "\e90d";
$tgico-previous: "\e90e";
$tgico-next: "\e90f";
$tgico-mention: "\e910";
$tgico-down: "\e911";
$tgico-pinlist: "\e912";
$tgico-replace: "\e913";
$tgico-schedule: "\e914";
$tgico-zoomout: "\e915";
$tgico-zoomin: "\e916";
$tgico-select: "\e917";
$tgico-info2: "\e918";
$tgico-clouddownload: "\e919";
$tgico-readchats: "\e91a";
$tgico-noncontacts: "\e91b";
$tgico-bots: "\e91c";
$tgico-muted: "\e91d";
$tgico-favourites: "\e91e";
$tgico-tip: "\e91f";
$tgico-loginlogodesktop: "\e920";
$tgico-loginlogomobile: "\e921";
$tgico-calendar: "\e922";
$tgico-keyboard: "\e923";
$tgico-gifs: "\e924";
$tgico-stickers: "\e925";
$tgico-deleteleft: "\e926";
$tgico-folder: "\e927";
$tgico-revote: "\e928";
$tgico-livelocation: "\e929";
$tgico-microphone2: "\e92a";
$tgico-colorize: "\e92b";
$tgico-poll: "\e92c";
$tgico-minus: "\e92d";
$tgico-nosound: "\e92e";
$tgico-microphone: "\e92f";
$tgico-largeplay: "\e930";
$tgico-largepause: "\e931";
$tgico-newchannel: "\e932";
$tgico-newgroup: "\e933";
$tgico-newprivate: "\e934";
$tgico-chatsplaceholder: "\e935";
$tgico-newchat_filled: "\e936";
$tgico-addmember_filled: "\e937";
$tgico-delete: "\e938";
$tgico-delete_filled: "\e939";
$tgico-send2: "\e93a";
$tgico-avatar_deletedaccount: "\e93b";
$tgico-avatar_archivedchats: "\e93c";
$tgico-avatar_savedmessages: "\e93d";
$tgico-pinnedchat: "\e93e";
$tgico-channelviews: "\e93f";
$tgico-sendingerror: "\e940";
$tgico-sending: "\e941";
$tgico-check: "\e942";
$tgico-checks: "\e943";
$tgico-radioon: "\e944";
$tgico-radiooff: "\e945";
$tgico-checkboxempty: "\e946";
$tgico-checkboxblock: "\e947";
$tgico-checkboxon: "\e948";
$tgico-eye2: "\e949";
$tgico-eye1: "\e94a";
$tgico-fullscreen: "\e94b";
$tgico-smallscreen: "\e94c";
$tgico-flag: "\e94d";
$tgico-lamp: "\e94e";
$tgico-sport: "\e94f";
$tgico-car: "\e950";
$tgico-eats: "\e951";
$tgico-animals: "\e952";
$tgico-smile: "\e953";
$tgico-unpin: "\e954";
$tgico-send: "\e955";
$tgico-unread: "\e956";
$tgico-settings: "\e957";
$tgico-edit: "\e958";
$tgico-download: "\e959";
$tgico-cameraadd: "\e95a";
$tgico-camera: "\e95b";
$tgico-permissions: "\e95c";
$tgico-admin: "\e95d";
$tgico-stop: "\e95e";
$tgico-username: "\e95f";
$tgico-location: "\e960";
$tgico-info: "\e961";
$tgico-deleteuser: "\e962";
$tgico-adduser: "\e963";
$tgico-recent: "\e964";
$tgico-channel: "\e965";
$tgico-document: "\e966";
$tgico-activesessions: "\e967";
$tgico-logout: "\e968";
$tgico-help: "\e969";
$tgico-play: "\e96a";
$tgico-pause: "\e96b";
$tgico-reply: "\e96c";
$tgico-forward: "\e96d";
$tgico-next: "\e96e";
$tgico-unlock: "\e96f";
$tgico-lock: "\e970";
$tgico-data: "\e971";
$tgico-user: "\e972";
$tgico-group: "\e973";
$tgico-mute: "\e974";
$tgico-unmute: "\e975";
$tgico-photo: "\e976";
$tgico-language: "\e977";
$tgico-message: "\e978";
$tgico-pin: "\e979";
$tgico-attach: "\e97a";
$tgico-phone: "\e97b";
$tgico-savedmessages: "\e97c";
$tgico-checkbox: "\e97d";
$tgico-copy: "\e97e";
$tgico-unarchive: "\e97f";
$tgico-archive: "\e980";
$tgico-check1: "\e981";
$tgico-up: "\e982";
$tgico-down: "\e983";
$tgico-close: "\e984";
$tgico-add: "\e985";
$tgico-back: "\e986";
$tgico-more: "\e987";
$tgico-menu: "\e988";
$tgico-search: "\e989";
