#column-left {
  //display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 18rem;
  // ! -.5 because of border-left and border-right on whole page
  max-width: calc(#{$large-screen} / 4);

  @include respond-to(handhelds) {
    width: 100%;
    max-width: 100%;
  }
  
  @include respond-to(floating-left-sidebar) {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    /* height: calc(var(--vh, 1vh) * 100);
    min-height: calc(var(--vh, 1vh) * 100) !important; */
    width: 26.5rem;
    transform: translate3d(-5rem, 0, 0);
    transition: transform var(--layer-transition);

    body.is-left-column-shown & {
      transform: translateZ(0);
    }
  }

  @include respond-to(no-floating-left-sidebar) {
    display: flex;
  }

  @include respond-to(before-medium-screens) {
    flex: 2;
  }

  // ! WARNING, ОЧЕНЬ КРУТОЙ КОСТЫЛЬ - ФИКС ЧЁРНОЙ РАМКИ У КАРТИНОК С ХВОСТИКОМ
  html.is-safari & {
    @include respond-to(large-screens) {
      max-width: calc(#{$large-screen} / 4 - 1.25px);
    }
  }

  .folders-tabs-scrollable {
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #dadce0;
    position: relative;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, .16);

    .scrollable {
      position: relative;
    }

    .menu-horizontal {
      border-bottom: none;

      ul {
        justify-content: start;
        z-index: 0;
      }

      li {
        height: 43px;
        padding: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        min-width: 3rem;

        > span {
          overflow: visible;

          i {
            bottom: calc(-.625rem - -1.75px); // * 1.75px will fix for high DPR
            padding-right: 1rem !important;
	          margin-left: -.5rem !important;
          }
        }
      }

      &__stripe {
        display: none;
      }
    }

    .unread-count {
      margin-left: 5px;
      background: #50a2e9;
      height: 1.25rem;
      border-radius: .75rem;
      font-weight: 500;
      color: white;
      line-height: 1.25rem;
      min-width: 1.25rem;
      font-size: .9rem; // ! this will fix vertical center
      padding: 0 5.75px;

      &:empty {
        display: none;
      }
    }

    &:not(.hide) + .scrollable {
      top: 44px;
      height: calc(100% - 44px);
    }
  }

  #chatlist-container {
    max-height: 100%;
    overflow: hidden;
    position: relative;
  }

  #folders-container {
    min-height: 100%;
  }

  .sidebar-slider {
    height: 100%;
  }

  .sidebar-header__btn-container {
    position: relative;
    width: 39.75px;
    height: 39px;

    > .btn-icon {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: .2s opacity, .15s background-color;
      z-index: 2;

      &:before {
        transition: .2s transform;
        transform: rotate(180deg);
      }

      & + * {
        margin-left: 0!important;
      }

      &.active {
        //margin-top: 1px;
        opacity: 1;
        visibility: visible;
        color: #707579;

        &:before {
          transform: rotate(0deg);
        }
      }
    }

    .btn-menu {
      @include respond-to(handhelds) {
        margin-top: -4px;
      }
    }
  }

  .sidebar-tools-button .btn-menu {
    width: 217px;

    .archived-count {
      border-radius: 12px;
      min-width: 24px;
      padding: 0 8px;
      height: 24px;
      text-align: center;
      line-height: 24px;
      color: #fff;
      font-weight: 500;
      background-color: #c5c9cc;
      justify-self: flex-end;
      position: absolute;
      right: 16px;

      @include respond-to(handhelds) {
        font-size: 14px;
        font-weight: 600;
      }
    }

    .archived-count:empty {
      display: none;
    }
  }

  .search-group-people {
    ul {
      display: flex;
      flex-direction: row;
      padding-left: 4px;
      margin-top: -1px;
      padding-bottom: 1px;
    }

    li {
      margin-right: 5px;
      padding: 0;
    }

    .rp {
      height: 98px;
      max-height: 98px;
      border-radius: 10px;
      max-width: 78px;
      width: 78px;
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 12px 0 0 !important;
      margin: 0;

      @include respond-to(handhelds) {
        width: 77px;
        max-width: 77px;
      }
    }
    
    .dialog-avatar {
      width: 54px;
      height: 54px;
    }

    .dialog-title-details {
      display: none;
    }

    .user-caption {
      max-width: 65px;
      padding: 2px 0px 9px;
      font-size: 12px;

      @include respond-to(handhelds) {
        max-width: 56px;
      }
    }

    .search-group-scrollable {
      position: relative;
      
      @include respond-to(handhelds) {
        margin-left: -7px;
        margin-top: 4px;
      }
      
      > .scrollable {
        position: relative;
      }
    }
  }

  .item-main .sidebar-content {
    .btn-menu {
      bottom: calc(100% + 10px);
    }

    .btn-corner {
      &.menu-open:before {
        content: $tgico-close;
      }

      @include respond-to(handhelds) {
        width: 54px;
        height: 54px;
        bottom: 14px;
        right: 14px;

        position: fixed !important;
        z-index: 1;

        &:not(.is-hidden) {
          transform: translateZ(0px);
        }
      }
    }

    @include respond-to(not-handhelds) {
      html.no-touch &:hover .btn-corner:not(.is-hidden) {
        transform: translateZ(0px);
      }
    }
  }

  .connection-status {
    width: 100%;
    padding: 0 .5rem .5rem;
    overflow: hidden;
    flex: 0 0 auto;
    
    &:not(.is-shown) {
      .connection-status-button {
        display: none;
      }
    }

    &.is-shown {
      &.animating {
        .connection-status-button, & + .connection-status-bottom {
          transition: transform var(--layer-transition);
        }
      }

      &:not(.backwards) {
        .connection-status-button {
          transform: translateY(0);
        }

        & + .connection-status-bottom {
          transform: translateY(64px);
        }
      }

      &:not(.animating):not(.backwards) {
        & + .connection-status-bottom {
          height: calc(100% - 64px);
        }
      }
    }

    &-button {
      color: #2e3939;
      align-self: center;
      pointer-events: none;
      padding-left: 4.5rem;
      text-align: left;
      height: 3.5rem;

      transform: translateY(-100%);
  
      svg {
        right: auto;
        left: 15px;
        height: calc(100% - 30px);
  
        .preloader-path {
          stroke: #2e3939;
        }
      }
    }

    &-bottom {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;

      transform: translateY(0);
      height: 100%;

      /* transform: translateY(64px);
      height: calc(100% - 64px); */
    }
  }
}

#search-container {
  display: flex;
}

.new-channel-container, .new-group-container, .edit-profile-container {
  .sidebar-content {
    flex-direction: column;
  }

  .avatar-edit {
    width: 120px;
    height: 120px;
    margin: 1px auto 32px;
    flex: 0 0 auto;
  }

  .input-wrapper {
    width: 420px;
    margin: 0 auto;
    flex: 0 0 auto;
    padding: 0 1.25rem;
    max-width: 100%;

    @include respond-to(handhelds) {
      width: 100%;
      padding: 0 16px;
    }
  }

  .chatlist-container {
    flex: 1 1 auto;
  }

  .caption {
    font-size: 0.875rem;
    margin-top: 14px;
    margin-left: 23px;
    color: #707579;
    padding-right: 24px;
  }
}

.edit-folder-container {
  .input-wrapper {
    width: 380px;
    margin: 0 auto;
    flex: 0 0 auto;
  }
}

.new-group-members {
  padding: 1.5rem 0 0.4375rem;

  .search-group__name {
    text-transform: capitalize;
  }
}

.settings-container {
  .profile {
    &-button {
      display: flex;
      padding: 1.125rem 0.625rem;
      height: 3.5rem;
      line-height: 1.4;
      border-radius: 0.625rem;
      margin: 0px 0.5rem 0px 0.4375rem;
      overflow: hidden;

      @include respond-to(handhelds) {
        padding: 0.75rem 0.625rem;
        height: 48px;
        margin: 0 0 2px 0;
        border-radius: 0;
      }

      html.no-touch &:hover {
        background: var(--color-gray-hover);
        cursor: pointer;
      }

      &:before {
        font-size: 24px;
        color: #707579;
        margin-left: 0.375rem;
        margin-top: -0.0625rem;
      }

      p {
        padding-left: 2rem;
        user-select: none;
      }
    }

    &-buttons {
      margin-top: .9375rem;
      width: 100%;

      @include respond-to(handhelds) {
        margin-top: 0.6875rem;
      }
    }
  }
}

.edit-profile-container {
  .caption {
    margin-top: 1.063rem;
    margin-left: 1.438rem;
    line-height: 1.2;
    padding-bottom: 1.438rem;

    @include respond-to(handhelds) {
      padding-right: 24px;
    }
  }

  .sidebar-left-h2 {
    color: #707579;
    padding: 0 1.438rem;
    padding-bottom: 1.5rem;
    font-weight: 500;
  }

  hr {
    margin-bottom: 1.5rem;
  }

  .scroll-wrapper {
    width: 100%;
  }
}

.chat-folders-container, .edit-folder-container {
  user-select: none;

  .sticker-container {
    width: 86px;
    height: 86px;
    margin: 1px auto 29px;
    flex: 0 0 auto;
    position: relative;
  }

  .caption {
    text-align: center;
    color: #707579;
    font-size: 14px;
    line-height: 1.3;
  }

  .sidebar-left-h2 {
    color: #707579;
    font-size: 15px;
    // padding-top: 7px;
    // padding-bottom: 15px;
    padding: 7px 24px 15px 24px;
    font-weight: 500;

    @include respond-to(handhelds) {
      padding: 7px 16px 15px 16px;
    }
  }
}

.chat-folders-container {
  .btn-primary {
    width: 160px;
    height: 40px;
    align-items: center;
    margin: 15px auto 24px;
    border-radius: 30px;
    padding: 0 12px;
    display: flex;
  }

  .tgico-add:before {
    font-size: 24px;
    margin-right: 6px;
  }

  // .folders-container {
  //   padding: 0 16px;
  // }

  .category {
    padding: 7px 24px 11px 24px;
    display: flex;
    //padding-bottom: 11px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    @include respond-to(handhelds) {
     padding: 7px 16px 11px 16px;
    }

    p {
      height: unset;
    }

    p:last-child {
      color: #707579;
      font-size: 14px;
      line-height: 20px;
    }

    .btn-primary {
      height: 30px;
      font-size: 15px;
      width: 52px;
      transition: width 0.2s;
      margin: 5px 0 0 0;
    }
  }
}

.edit-folder-container {
  .caption {
    margin-bottom: 18px;
  }

  @include respond-to(handhelds) {
    .input-wrapper {
      width: 100%;
      padding: 0 16px;
    }
  }

  .sidebar-left-h2 {
    padding: 21px 24px 8px 24px;

    @include respond-to(handhelds) {
      width: 100%;
      padding: 21px 16px 8px 16px;
    }
  }

  .input-wrapper {
    margin-bottom: 10px;
  }
}

.folder-list {
  li {
    padding-bottom: 2px;

    .rp {
      padding: 8px 11px !important;
      height: 48px !important;

      @include respond-to(handhelds) {
        padding: 8px 12px !important;
      }
    }
  }

  avatar-element {
    height: 2rem;
    width: 2rem;
    font-size: .875rem;
  }

  .user-caption {
    padding: 6px 28px;
  }  

  p span {
    font-weight: normal;
  }
}

.folder-categories {
  width: 100%;

  .checkbox {
    margin-top: -9px !important;
    right: 0;
    position: absolute;

    [type="checkbox"] + span {
      padding-left: 46px;

      @include respond-to(handhelds) {
        padding-left: 38px;
      }
    }
  }
}

.folder-category-button {
  display: flex;
  font-size: 1.5rem;
  padding: 13px 24px 10px 24px;
  overflow: hidden;

  @include respond-to(handhelds) {
    padding: 13px 16px 10px 16px;
  }

  p {
    user-select: none;
    margin-left: 32px;
    font-size: 16px;
    flex: 1 1 auto;
  }

  &.blue, &.blue:before {
    color: #50a2e9;
  }

  &:first-child {
    cursor: pointer;
  }

  &:before {
    color: #797d82;
  }
}

.sidebar-header .tgico-check1 {
  color: #50a2e9;
}

.popup-forward, .included-chatlist-container {
  .selector {
    ul {
      li > .rp {
        margin: 0 .5rem;
        padding: .5rem .75rem;
        height: 3.875rem;

        @include respond-to(handhelds) {
          margin: 0;
        }
      }
  
      .dialog-avatar {
        width: 2.875rem;
        height: 2.875rem;
      }
  
      .user-caption {
        padding: 0px 0px 0 14px;
        margin-top: -2px;
      }
  
      .user-last-message {
        font-size: 15px;
        margin-top: 2px;
      }
    }
  }
}

.included-chatlist-container {
  .sidebar-left-h2 {
    color: #707579;
    font-size: 15px;
    font-weight: 500;
    padding: 6px 24px 8px 24px;

    @include respond-to(handhelds) {
      padding: 6px 16px 8px 16px;
    }
  }

  .selector {
    ul {
      .checkbox {
        margin-top: 10px;
      }

      [type="checkbox"] + span {
        padding-left: 26px;
      }
    }
  }

  .checkbox [type="checkbox"] {
    & + span:after {
      border-radius: 50%;
      height: 20px;
      width: 20px;
      border-color: #dadbdc;
    }

    &:checked {
      & + span {
        &:before {
          top: 5px;
          left: 0px;
        }

        &:after {
          background-color: #4EA4F6;
          border: none;
        }
      }
    }
  }

  .folder-category-button {
    cursor: pointer;
  }
}

.search-group-recent {
  .search-group__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-icon {
    //@include respond-to(handhelds) {
      font-size: 22px;
    //}
  }

  @include respond-to(handhelds) {
    li {
      padding-top: 0;
    }

    .user-caption {
      margin-top: -2px;
    }

    .user-title {
      font-weight: 500 !important;
    }

    .dialog-avatar {
      width: 46px;
      height: 46px;
    }

    li > .rp {
      height: 62px;
    }
  }
}

@include respond-to(handhelds) {
  .search-group-recent.search-group.search-group-contacts ul {
    margin-top: -2px;
  }

  .search-group.search-group-contacts ul, .search-group.search-group-messages ul {
    margin-top: 7px;
  }

  .search-group.search-group-messages {
    margin-top: -6px;
  }
}

@include respond-to(not-handhelds) {
  .search-group-recent.search-group.search-group-contacts {
    padding: 0px 0 7px;
  }
}