@media print {
  html,
  body {
    min-height: 100% !important;
    height: auto !important;
    overflow-y: visible !important;
    background-color: var(--background-color) !important;
    print-color-adjust: exact;
  }

  html {
    --message-highlighting-color: var(--secondary-color) !important;
  }

  .bubble.is-date {
    opacity: 1 !important;
    visibility: visible !important;
    position: relative;
  }

  .whole {
    display: none !important;
  }

  .emoji-animation-container,
  .bubble-hover-reaction {
    display: none !important;
  }

  .printable {
    display: block !important;
    print-color-adjust: exact;
    margin-bottom: 30px;
  }
}
