.sidebar {
  background-color: #fff;
  //overflow: hidden;

  &-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7.5px 16px;
    min-height: 56px;
    flex: 0 0 auto;
    user-select: none;
    cursor: default;

    @include respond-to(handhelds) {
      padding: 7.5px 8px;
    }

    /* //position: sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1; */

    &__title {
      flex: 1;
      font-weight: 500;
      padding-left: 24px;
      font-size: 20px;
    }

    .btn-icon + .btn-icon {
      margin-left: .5rem;
    }
  }

  &-close-button {
    overflow: inherit !important;
  }

  &-content {
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex; /* idk why but need */
    position: relative;
    flex: 1 1 auto;

    /* @include respond-to(handhelds) {
      margin-top: 60px;
    } */

    > div {
      width: 100%;
    }
  }
}
