.sidebar {
  background-color: #fff;
  overflow: hidden;
}

.sidebar-left {
  border-right: 1px solid #DADCE0;
}

.sidebar-right {
  border-left: 1px solid #DADCE0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.5px 20px 7.5px 15px;
  min-height: 60px;

  .sidebar-title {
    flex: 1;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 1.4rem;
  }

  .btn-icon + .btn-icon {
    margin-left: .5rem;
  }
}
