.menu-horizontal {
  color: $color-gray;
  border-bottom: 1px solid $lightgrey;
  position: relative;

  ul {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  li {
    display: inline-block;
    padding: .75rem 1rem;
    cursor: pointer;
    text-align: center;
    flex: 1;
    user-select: none;
    // font-size: 1rem;
    font-size: 14px;
    font-weight: 500;

    &.active {
      color: $color-blue;
    }
  }

  &__stripe {
    position: absolute;
    background: $color-blue;
    //left: 0;
    left: -2px;
    transition: .3s transform, .3s width;
    //transition: .3s transform;
    bottom: -1px;
    height: 4px;
    width: 1px; // need if using transform
    transform: scaleX(1) translateX(0px);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    z-index: 1;
  }
}

.tabs-container {
  min-width: 100%;
  width: 100%;
  display: grid;
  //grid-template-columns: 1fr;
  grid-template-columns: 100%;

  /* @include respond-to(not-handhelds) {
    overflow-x: hidden;
  } */

  // &.animated {
  //   transition: .3s transform;
  // }
  
  > div {
    width: 100%;
    max-width: 100%;
    //transition: transform .42s, filter .42s;
    transition: transform .2s, filter .2s;
    display: none;
    flex-direction: column;
    position: relative;
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: #fff;
    //z-index: 1;
    
    //@include respond-to(not-handhelds) {
      overflow: hidden;
    //}

    &.active {
      display: flex;
    }
    
    > div:not(.scroll-padding) {
      width: 100%;
      max-width: 100%;
      /* overflow: hidden; */
      position: relative;
    }
  }
}