.input {
  --padding-horizontal: 2.75rem;
  --height: 48px;
  --border-radius: 12px;
  --padding: 0.8125rem;

  .inputIcon {
    position: absolute;
    left: 0.875rem;
    top: 0.625rem;
    width: 1.375rem;
    height: 1.375rem;
    font-size: 1.375rem;
    z-index: 2;
    color: var(--primary-color);

    svg {
      width: 1.375rem;
      height: 1.375rem;
    }
  }

  .inputApproxLabel {
    position: absolute;
    right: 0.75rem;
    top: 1rem;
    font-size: var(--font-size-13);
    color: var(--secondary-text-color);
    z-index: 2;
  }

  :global(.input-field-input) {
    padding-left: 2.75rem;
    padding-right: 5rem;
  }
}
