@use "variables" as *;

@font-face {
  font-family: '#{$tgico-font-family}';
  src:
    url('#{$tgico-font-path}/#{$tgico-font-family}.ttf?z4n9ab') format('truetype'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.woff?z4n9ab') format('woff'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.svg?z4n9ab##{$tgico-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.tgico {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$tgico-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
