@import "variables";

@font-face {
  font-family: '#{$tgico-font-family}';
  src:
    url('#{$tgico-font-path}/#{$tgico-font-family}.ttf?mxudl0') format('truetype'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.woff?mxudl0') format('woff'),
    url('#{$tgico-font-path}/#{$tgico-font-family}.svg?mxudl0##{$tgico-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* [class^="tgico-"]:before,
[class^="tgico-"]:after, */
[class^="tgico-"],
.tgico:before,
.tgico:after,
[class*=" tgico-"]:before,
[class*=" tgico-"]:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$tgico-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tgico-check {
  &:before {
    content: $tgico-check; 
  }
}
.tgico-checks {
  &:before {
    content: $tgico-checks; 
  }
}
.tgico-activesessions {
  &:before {
    content: $tgico-activesessions; 
  }
}
.tgico-add {
  &:before {
    content: $tgico-add; 
  }
}
.tgico-add_reaction {
  &:before {
    content: $tgico-add_reaction; 
  }
}
.tgico-addmember_filled {
  &:before {
    content: $tgico-addmember_filled; 
  }
}
.tgico-adduser {
  &:before {
    content: $tgico-adduser; 
  }
}
.tgico-admin {
  &:before {
    content: $tgico-admin; 
  }
}
.tgico-animals {
  &:before {
    content: $tgico-animals; 
  }
}
.tgico-animations {
  &:before {
    content: $tgico-animations; 
  }
}
.tgico-archive {
  &:before {
    content: $tgico-archive; 
  }
}
.tgico-arrow_down {
  &:before {
    content: $tgico-arrow_down; 
  }
}
.tgico-arrow_next {
  &:before {
    content: $tgico-arrow_next; 
  }
}
.tgico-attach {
  &:before {
    content: $tgico-attach; 
  }
}
.tgico-audio_repeat {
  &:before {
    content: $tgico-audio_repeat; 
  }
}
.tgico-audio_repeat_single {
  &:before {
    content: $tgico-audio_repeat_single; 
  }
}
.tgico-avatarnext {
  &:before {
    content: $tgico-avatarnext; 
  }
}
.tgico-avatarprevious {
  &:before {
    content: $tgico-avatarprevious; 
  }
}
.tgico-binfilled {
  &:before {
    content: $tgico-binfilled; 
  }
}
.tgico-bold {
  &:before {
    content: $tgico-bold; 
  }
}
.tgico-botcom {
  &:before {
    content: $tgico-botcom; 
  }
}
.tgico-bots {
  &:before {
    content: $tgico-bots; 
  }
}
.tgico-bug {
  &:before {
    content: $tgico-bug; 
  }
}
.tgico-calendar {
  &:before {
    content: $tgico-calendar; 
  }
}
.tgico-calendarfilter {
  &:before {
    content: $tgico-calendarfilter; 
  }
}
.tgico-camera {
  &:before {
    content: $tgico-camera; 
  }
}
.tgico-cameraadd {
  &:before {
    content: $tgico-cameraadd; 
  }
}
.tgico-car {
  &:before {
    content: $tgico-car; 
  }
}
.tgico-card {
  &:before {
    content: $tgico-card; 
  }
}
.tgico-card_outline {
  &:before {
    content: $tgico-card_outline; 
  }
}
.tgico-channel {
  &:before {
    content: $tgico-channel; 
  }
}
.tgico-channelviews {
  &:before {
    content: $tgico-channelviews; 
  }
}
.tgico-chatspinned {
  &:before {
    content: $tgico-chatspinned; 
  }
}
.tgico-chatsplaceholder {
  &:before {
    content: $tgico-chatsplaceholder; 
  }
}
.tgico-check1 {
  &:before {
    content: $tgico-check1; 
  }
}
.tgico-checkbox {
  &:before {
    content: $tgico-checkbox; 
  }
}
.tgico-checkboxblock {
  &:before {
    content: $tgico-checkboxblock; 
  }
}
.tgico-checkboxempty {
  &:before {
    content: $tgico-checkboxempty; 
  }
}
.tgico-checkboxon {
  &:before {
    content: $tgico-checkboxon; 
  }
}
.tgico-checkretract {
  &:before {
    content: $tgico-checkretract; 
  }
}
.tgico-checkround {
  &:before {
    content: $tgico-checkround; 
  }
}
.tgico-close {
  &:before {
    content: $tgico-close; 
  }
}
.tgico-clouddownload {
  &:before {
    content: $tgico-clouddownload; 
  }
}
.tgico-colorize {
  &:before {
    content: $tgico-colorize; 
  }
}
.tgico-comments {
  &:before {
    content: $tgico-comments; 
  }
}
.tgico-commentssticker {
  &:before {
    content: $tgico-commentssticker; 
  }
}
.tgico-copy {
  &:before {
    content: $tgico-copy; 
  }
}
.tgico-crossround {
  &:before {
    content: $tgico-crossround; 
  }
}
.tgico-darkmode {
  &:before {
    content: $tgico-darkmode; 
  }
}
.tgico-data {
  &:before {
    content: $tgico-data; 
  }
}
.tgico-delete {
  &:before {
    content: $tgico-delete; 
  }
}
.tgico-delete_filled {
  &:before {
    content: $tgico-delete_filled; 
  }
}
.tgico-deletedaccount {
  &:before {
    content: $tgico-deletedaccount; 
  }
}
.tgico-deleteleft {
  &:before {
    content: $tgico-deleteleft; 
  }
}
.tgico-deleteuser {
  &:before {
    content: $tgico-deleteuser; 
  }
}
.tgico-devices {
  &:before {
    content: $tgico-devices; 
  }
}
.tgico-document {
  &:before {
    content: $tgico-document; 
  }
}
.tgico-down {
  &:before {
    content: $tgico-down; 
  }
}
.tgico-download {
  &:before {
    content: $tgico-download; 
  }
}
.tgico-dragfiles {
  &:before {
    content: $tgico-dragfiles; 
  }
}
.tgico-dragmedia {
  &:before {
    content: $tgico-dragmedia; 
  }
}
.tgico-eats {
  &:before {
    content: $tgico-eats; 
  }
}
.tgico-edit {
  &:before {
    content: $tgico-edit; 
  }
}
.tgico-email {
  &:before {
    content: $tgico-email; 
  }
}
.tgico-endcall_filled {
  &:before {
    content: $tgico-endcall_filled; 
  }
}
.tgico-enter {
  &:before {
    content: $tgico-enter; 
  }
}
.tgico-eye1 {
  &:before {
    content: $tgico-eye1; 
  }
}
.tgico-eye2 {
  &:before {
    content: $tgico-eye2; 
  }
}
.tgico-fast_forward {
  &:before {
    content: $tgico-fast_forward; 
  }
}
.tgico-fast_rewind {
  &:before {
    content: $tgico-fast_rewind; 
  }
}
.tgico-favourites {
  &:before {
    content: $tgico-favourites; 
  }
}
.tgico-flag {
  &:before {
    content: $tgico-flag; 
  }
}
.tgico-flip {
  &:before {
    content: $tgico-flip; 
  }
}
.tgico-folder {
  &:before {
    content: $tgico-folder; 
  }
}
.tgico-fontsize {
  &:before {
    content: $tgico-fontsize; 
  }
}
.tgico-forward {
  &:before {
    content: $tgico-forward; 
  }
}
.tgico-forward_filled {
  &:before {
    content: $tgico-forward_filled; 
  }
}
.tgico-fullscreen {
  &:before {
    content: $tgico-fullscreen; 
  }
}
.tgico-gc_microphone {
  &:before {
    content: $tgico-gc_microphone; 
  }
}
.tgico-gc_microphoneoff {
  &:before {
    content: $tgico-gc_microphoneoff; 
  }
}
.tgico-gifs {
  &:before {
    content: $tgico-gifs; 
  }
}
.tgico-gift {
  &:before {
    content: $tgico-gift; 
  }
}
.tgico-group {
  &:before {
    content: $tgico-group; 
  }
}
.tgico-groupmedia {
  &:before {
    content: $tgico-groupmedia; 
  }
}
.tgico-groupmediaoff {
  &:before {
    content: $tgico-groupmediaoff; 
  }
}
.tgico-help {
  &:before {
    content: $tgico-help; 
  }
}
.tgico-hide {
  &:before {
    content: $tgico-hide; 
  }
}
.tgico-image {
  &:before {
    content: $tgico-image; 
  }
}
.tgico-info {
  &:before {
    content: $tgico-info; 
  }
}
.tgico-info2 {
  &:before {
    content: $tgico-info2; 
  }
}
.tgico-italic {
  &:before {
    content: $tgico-italic; 
  }
}
.tgico-keyboard {
  &:before {
    content: $tgico-keyboard; 
  }
}
.tgico-lamp {
  &:before {
    content: $tgico-lamp; 
  }
}
.tgico-language {
  &:before {
    content: $tgico-language; 
  }
}
.tgico-largepause {
  &:before {
    content: $tgico-largepause; 
  }
}
.tgico-largeplay {
  &:before {
    content: $tgico-largeplay; 
  }
}
.tgico-left {
  &:before {
    content: $tgico-left; 
  }
}
.tgico-limit_chat {
  &:before {
    content: $tgico-limit_chat; 
  }
}
.tgico-limit_chats {
  &:before {
    content: $tgico-limit_chats; 
  }
}
.tgico-limit_file {
  &:before {
    content: $tgico-limit_file; 
  }
}
.tgico-limit_folders {
  &:before {
    content: $tgico-limit_folders; 
  }
}
.tgico-limit_link {
  &:before {
    content: $tgico-limit_link; 
  }
}
.tgico-limit_pin {
  &:before {
    content: $tgico-limit_pin; 
  }
}
.tgico-link {
  &:before {
    content: $tgico-link; 
  }
}
.tgico-listscreenshare {
  &:before {
    content: $tgico-listscreenshare; 
  }
}
.tgico-livelocation {
  &:before {
    content: $tgico-livelocation; 
  }
}
.tgico-location {
  &:before {
    content: $tgico-location; 
  }
}
.tgico-lock {
  &:before {
    content: $tgico-lock; 
  }
}
.tgico-lockoff {
  &:before {
    content: $tgico-lockoff; 
  }
}
.tgico-loginlogodesktop {
  &:before {
    content: $tgico-loginlogodesktop; 
  }
}
.tgico-loginlogomobile {
  &:before {
    content: $tgico-loginlogomobile; 
  }
}
.tgico-logout {
  &:before {
    content: $tgico-logout; 
  }
}
.tgico-mediaspoiler {
  &:before {
    content: $tgico-mediaspoiler; 
  }
}
.tgico-mediaspoileroff {
  &:before {
    content: $tgico-mediaspoileroff; 
  }
}
.tgico-mention {
  &:before {
    content: $tgico-mention; 
  }
}
.tgico-menu {
  &:before {
    content: $tgico-menu; 
  }
}
.tgico-message {
  &:before {
    content: $tgico-message; 
  }
}
.tgico-messageunread {
  &:before {
    content: $tgico-messageunread; 
  }
}
.tgico-microphone {
  &:before {
    content: $tgico-microphone; 
  }
}
.tgico-microphone_crossed {
  &:before {
    content: $tgico-microphone_crossed; 
  }
}
.tgico-microphone_crossed_filled {
  &:before {
    content: $tgico-microphone_crossed_filled; 
  }
}
.tgico-microphone_filled {
  &:before {
    content: $tgico-microphone_filled; 
  }
}
.tgico-minus {
  &:before {
    content: $tgico-minus; 
  }
}
.tgico-monospace {
  &:before {
    content: $tgico-monospace; 
  }
}
.tgico-more {
  &:before {
    content: $tgico-more; 
  }
}
.tgico-mute {
  &:before {
    content: $tgico-mute; 
  }
}
.tgico-muted {
  &:before {
    content: $tgico-muted; 
  }
}
.tgico-newchannel {
  &:before {
    content: $tgico-newchannel; 
  }
}
.tgico-newchat_filled {
  &:before {
    content: $tgico-newchat_filled; 
  }
}
.tgico-newgroup {
  &:before {
    content: $tgico-newgroup; 
  }
}
.tgico-newprivate {
  &:before {
    content: $tgico-newprivate; 
  }
}
.tgico-newtab {
  &:before {
    content: $tgico-newtab;     
    color: #fff;
  }
}
.tgico-next {
  &:before {
    content: $tgico-next; 
  }
}
.tgico-noncontacts {
  &:before {
    content: $tgico-noncontacts; 
  }
}
.tgico-nosound {
  &:before {
    content: $tgico-nosound; 
  }
}
.tgico-online {
  &:before {
    content: $tgico-online;     
    color: #fff;
  }
}
.tgico-passwordoff {
  &:before {
    content: $tgico-passwordoff; 
  }
}
.tgico-pause {
  &:before {
    content: $tgico-pause; 
  }
}
.tgico-permissions {
  &:before {
    content: $tgico-permissions; 
  }
}
.tgico-phone {
  &:before {
    content: $tgico-phone; 
  }
}
.tgico-pin {
  &:before {
    content: $tgico-pin; 
  }
}
.tgico-pinlist {
  &:before {
    content: $tgico-pinlist; 
  }
}
.tgico-pinned_filled {
  &:before {
    content: $tgico-pinned_filled; 
  }
}
.tgico-pinnedchat {
  &:before {
    content: $tgico-pinnedchat; 
  }
}
.tgico-pip {
  &:before {
    content: $tgico-pip; 
  }
}
.tgico-play {
  &:before {
    content: $tgico-play; 
  }
}
.tgico-playback_05 {
  &:before {
    content: $tgico-playback_05; 
  }
}
.tgico-playback_15 {
  &:before {
    content: $tgico-playback_15; 
  }
}
.tgico-playback_1x {
  &:before {
    content: $tgico-playback_1x; 
  }
}
.tgico-playback_2x {
  &:before {
    content: $tgico-playback_2x; 
  }
}
.tgico-plus {
  &:before {
    content: $tgico-plus; 
  }
}
.tgico-plusround {
  &:before {
    content: $tgico-plusround; 
  }
}
.tgico-poll {
  &:before {
    content: $tgico-poll; 
  }
}
.tgico-premium_addone {
  &:before {
    content: $tgico-premium_addone; 
  }
}
.tgico-premium_double {
  &:before {
    content: $tgico-premium_double; 
  }
}
.tgico-premium_lock {
  &:before {
    content: $tgico-premium_lock; 
  }
}
.tgico-premium_unlock {
  &:before {
    content: $tgico-premium_unlock; 
  }
}
.tgico-previous {
  &:before {
    content: $tgico-previous; 
  }
}
.tgico-promote {
  &:before {
    content: $tgico-promote;     
    color: #fff;
  }
}
.tgico-radiooff {
  &:before {
    content: $tgico-radiooff; 
  }
}
.tgico-radioon {
  &:before {
    content: $tgico-radioon; 
  }
}
.tgico-reactions {
  &:before {
    content: $tgico-reactions; 
  }
}
.tgico-readchats {
  &:before {
    content: $tgico-readchats; 
  }
}
.tgico-recent {
  &:before {
    content: $tgico-recent; 
  }
}
.tgico-replace {
  &:before {
    content: $tgico-replace; 
  }
}
.tgico-reply {
  &:before {
    content: $tgico-reply; 
  }
}
.tgico-reply_filled {
  &:before {
    content: $tgico-reply_filled; 
  }
}
.tgico-restrict {
  &:before {
    content: $tgico-restrict;     
    color: #fff;
  }
}
.tgico-rightpanel {
  &:before {
    content: $tgico-rightpanel; 
  }
}
.tgico-rotate_left {
  &:before {
    content: $tgico-rotate_left; 
  }
}
.tgico-rotate_right {
  &:before {
    content: $tgico-rotate_right; 
  }
}
.tgico-saved {
  &:before {
    content: $tgico-saved; 
  }
}
.tgico-savedmessages {
  &:before {
    content: $tgico-savedmessages; 
  }
}
.tgico-schedule {
  &:before {
    content: $tgico-schedule; 
  }
}
.tgico-scheduled {
  &:before {
    content: $tgico-scheduled; 
  }
}
.tgico-search {
  &:before {
    content: $tgico-search; 
  }
}
.tgico-select {
  &:before {
    content: $tgico-select; 
  }
}
.tgico-send {
  &:before {
    content: $tgico-send; 
  }
}
.tgico-send2 {
  &:before {
    content: $tgico-send2; 
  }
}
.tgico-sending {
  &:before {
    content: $tgico-sending; 
  }
}
.tgico-sendingerror {
  &:before {
    content: $tgico-sendingerror; 
  }
}
.tgico-settings {
  &:before {
    content: $tgico-settings; 
  }
}
.tgico-settings_filled {
  &:before {
    content: $tgico-settings_filled; 
  }
}
.tgico-sharescreen_filled {
  &:before {
    content: $tgico-sharescreen_filled; 
  }
}
.tgico-shipping {
  &:before {
    content: $tgico-shipping; 
  }
}
.tgico-shuffle {
  &:before {
    content: $tgico-shuffle; 
  }
}
.tgico-smallscreen {
  &:before {
    content: $tgico-smallscreen; 
  }
}
.tgico-smile {
  &:before {
    content: $tgico-smile; 
  }
}
.tgico-spoiler {
  &:before {
    content: $tgico-spoiler; 
  }
}
.tgico-sport {
  &:before {
    content: $tgico-sport; 
  }
}
.tgico-star {
  &:before {
    content: $tgico-star; 
  }
}
.tgico-stickers {
  &:before {
    content: $tgico-stickers; 
  }
}
.tgico-stickers_face {
  &:before {
    content: $tgico-stickers_face; 
  }
}
.tgico-stop {
  &:before {
    content: $tgico-stop; 
  }
}
.tgico-strikethrough {
  &:before {
    content: $tgico-strikethrough; 
  }
}
.tgico-textedit {
  &:before {
    content: $tgico-textedit; 
  }
}
.tgico-tip {
  &:before {
    content: $tgico-tip; 
  }
}
.tgico-tools {
  &:before {
    content: $tgico-tools; 
  }
}
.tgico-topics {
  &:before {
    content: $tgico-topics; 
  }
}
.tgico-transcribe {
  &:before {
    content: $tgico-transcribe; 
  }
}
.tgico-unarchive {
  &:before {
    content: $tgico-unarchive; 
  }
}
.tgico-underline {
  &:before {
    content: $tgico-underline; 
  }
}
.tgico-unmute {
  &:before {
    content: $tgico-unmute; 
  }
}
.tgico-unpin {
  &:before {
    content: $tgico-unpin; 
  }
}
.tgico-unread {
  &:before {
    content: $tgico-unread; 
  }
}
.tgico-up {
  &:before {
    content: $tgico-up; 
  }
}
.tgico-user {
  &:before {
    content: $tgico-user; 
  }
}
.tgico-username {
  &:before {
    content: $tgico-username; 
  }
}
.tgico-videocamera {
  &:before {
    content: $tgico-videocamera; 
  }
}
.tgico-videocamera_crossed_filled {
  &:before {
    content: $tgico-videocamera_crossed_filled; 
  }
}
.tgico-videocamera_filled {
  &:before {
    content: $tgico-videocamera_filled; 
  }
}
.tgico-videochat {
  &:before {
    content: $tgico-videochat; 
  }
}
.tgico-volume_down {
  &:before {
    content: $tgico-volume_down; 
  }
}
.tgico-volume_mute {
  &:before {
    content: $tgico-volume_mute; 
  }
}
.tgico-volume_off {
  &:before {
    content: $tgico-volume_off; 
  }
}
.tgico-volume_up {
  &:before {
    content: $tgico-volume_up; 
  }
}
.tgico-webview {
  &:before {
    content: $tgico-webview;     
    color: #fff;
  }
}
.tgico-zoomin {
  &:before {
    content: $tgico-zoomin; 
  }
}
.tgico-zoomout {
  &:before {
    content: $tgico-zoomout; 
  }
}

