$tgico-check: "\e900";
$tgico-checks: "\e901";
$tgico-activesessions: "\e902";
$tgico-add: "\e903";
$tgico-add_chat: "\e904";
$tgico-add_reaction: "\e905";
$tgico-addboost: "\e906";
$tgico-addmember_filled: "\e907";
$tgico-adduser: "\e908";
$tgico-admin: "\e909";
$tgico-ads: "\e90a";
$tgico-align_center: "\e90b";
$tgico-align_left: "\e90c";
$tgico-align_right: "\e90d";
$tgico-animals: "\e90e";
$tgico-animations: "\e90f";
$tgico-app_expand: "\e910";
$tgico-app_shrink: "\e911";
$tgico-archive: "\e912";
$tgico-arrow_down: "\e913";
$tgico-arrow_next: "\e914";
$tgico-arrow_prev: "\e915";
$tgico-arrow_up_circle_fill: "\e916";
$tgico-arrowcircle: "\e917";
$tgico-arrowhead: "\e918";
$tgico-attach: "\e919";
$tgico-attach_edit: "\e91a";
$tgico-audio_repeat: "\e91b";
$tgico-audio_repeat_single: "\e91c";
$tgico-author_hidden: "\e91d";
$tgico-auto_delete_circle_1: "\e91e";
$tgico-auto_delete_circle_2: "\e91f";
$tgico-auto_delete_circle_3: "\e920";
$tgico-auto_delete_circle_4: "\e921";
$tgico-auto_delete_circle_5: "\e922";
$tgico-auto_delete_circle_6: "\e923";
$tgico-auto_delete_circle_clock: "\e924";
$tgico-auto_delete_circle_days: "\e925";
$tgico-auto_delete_circle_empty: "\e926";
$tgico-auto_delete_circle_months: "\e927";
$tgico-auto_delete_circle_off: "\e928";
$tgico-auto_delete_circle_weeks: "\e929";
$tgico-auto_delete_circle_years: "\e92a";
$tgico-avatarnext: "\e92b";
$tgico-avatarprevious: "\e92c";
$tgico-aversion: "\e92d";
$tgico-back: "\e92e";
$tgico-binfilled: "\e92f";
$tgico-bold: "\e930";
$tgico-bomb: "\e931";
$tgico-boost: "\e932";
$tgico-boostcircle: "\e933";
$tgico-bot_filled: "\e934";
$tgico-botcom: "\e935";
$tgico-bots: "\e936";
$tgico-brightness: "\e937";
$tgico-brush: "\e938";
$tgico-bubblereply: "\e939";
$tgico-bug: "\e93a";
$tgico-calendar: "\e93b";
$tgico-calendarfilter: "\e93c";
$tgico-camera: "\e93d";
$tgico-cameraadd: "\e93e";
$tgico-captiondown: "\e93f";
$tgico-captionup: "\e940";
$tgico-car: "\e941";
$tgico-card: "\e942";
$tgico-card_outline: "\e943";
$tgico-cash_circle: "\e944";
$tgico-channel: "\e945";
$tgico-channel_filled: "\e946";
$tgico-channelviews: "\e947";
$tgico-chatspinned: "\e948";
$tgico-chatsplaceholder: "\e949";
$tgico-check1: "\e94a";
$tgico-checkbox: "\e94b";
$tgico-checkboxblock: "\e94c";
$tgico-checkboxempty: "\e94d";
$tgico-checkboxon: "\e94e";
$tgico-checklist_add: "\e94f";
$tgico-checklist_done: "\e950";
$tgico-checklist_undone: "\e951";
$tgico-checkretract: "\e952";
$tgico-checkround: "\e953";
$tgico-checkround_filled: "\e954";
$tgico-clipboard: "\e955";
$tgico-clock: "\e956";
$tgico-close: "\e957";
$tgico-clouddownload: "\e958";
$tgico-collapse: "\e959";
$tgico-colorize: "\e95a";
$tgico-comments: "\e95b";
$tgico-commentssticker: "\e95c";
$tgico-contrast: "\e95d";
$tgico-copy: "\e95e";
$tgico-crop: "\e95f";
$tgico-cross: "\e960";
$tgico-crossgif: "\e961";
$tgico-crossround: "\e962";
$tgico-crossround_filled: "\e963";
$tgico-crossstar: "\e964";
$tgico-crown: "\e965";
$tgico-crown_outline: "\e966";
$tgico-crownalt: "\e967";
$tgico-crownoff: "\e968";
$tgico-crownoff_outline: "\e969";
$tgico-darkmode: "\e96a";
$tgico-data: "\e96b";
$tgico-delete: "\e96c";
$tgico-delete_filled: "\e96d";
$tgico-deletedaccount: "\e96e";
$tgico-deleteleft: "\e96f";
$tgico-deleteuser: "\e970";
$tgico-devices: "\e971";
$tgico-document: "\e972";
$tgico-dollar_circle: "\e973";
$tgico-dollar_circle_x: "\e974";
$tgico-down: "\e975";
$tgico-down_up: "\e976";
$tgico-download: "\e977";
$tgico-dragfiles: "\e978";
$tgico-dragmedia: "\e979";
$tgico-eats: "\e97a";
$tgico-edit: "\e97b";
$tgico-email: "\e97c";
$tgico-endcall_filled: "\e97d";
$tgico-enhance: "\e97e";
$tgico-enter: "\e97f";
$tgico-equalizer: "\e980";
$tgico-expand: "\e981";
$tgico-eye: "\e982";
$tgico-eye1: "\e983";
$tgico-eye2: "\e984";
$tgico-eyecross_outline: "\e985";
$tgico-faceid: "\e986";
$tgico-factcheck: "\e987";
$tgico-fade: "\e988";
$tgico-fast_forward: "\e989";
$tgico-fast_rewind: "\e98a";
$tgico-favourites: "\e98b";
$tgico-filter: "\e98c";
$tgico-flag: "\e98d";
$tgico-flip: "\e98e";
$tgico-flip_image_horizontal: "\e98f";
$tgico-folder: "\e990";
$tgico-fontframe: "\e991";
$tgico-fontframe_bg: "\e992";
$tgico-fontframe_outline: "\e993";
$tgico-fontsize: "\e994";
$tgico-forward: "\e995";
$tgico-forward_filled: "\e996";
$tgico-free_transform: "\e997";
$tgico-fullscreen: "\e998";
$tgico-gc_microphone: "\e999";
$tgico-gc_microphoneoff: "\e99a";
$tgico-gem: "\e99b";
$tgico-gem_exchange: "\e99c";
$tgico-gem_transfer: "\e99d";
$tgico-gem_transfer_outline: "\e99e";
$tgico-geometric_digit_0: "\e99f";
$tgico-geometric_digit_1: "\e9a0";
$tgico-geometric_digit_2: "\e9a1";
$tgico-geometric_digit_3: "\e9a2";
$tgico-geometric_digit_4: "\e9a3";
$tgico-geometric_digit_5: "\e9a4";
$tgico-geometric_digit_6: "\e9a5";
$tgico-geometric_digit_7: "\e9a6";
$tgico-geometric_digit_8: "\e9a7";
$tgico-geometric_digit_9: "\e9a8";
$tgico-geometric_dot: "\e9a9";
$tgico-geometric_letter_x: "\e9aa";
$tgico-gifs: "\e9ab";
$tgico-gift: "\e9ac";
$tgico-gift_premium: "\e9ad";
$tgico-grain: "\e9ae";
$tgico-group: "\e9af";
$tgico-group_filled: "\e9b0";
$tgico-group_star: "\e9b1";
$tgico-groupmedia: "\e9b2";
$tgico-groupmediaoff: "\e9b3";
$tgico-hand: "\e9b4";
$tgico-help: "\e9b5";
$tgico-hide: "\e9b6";
$tgico-highlights: "\e9b7";
$tgico-hourglass: "\e9b8";
$tgico-image: "\e9b9";
$tgico-image_original: "\e9ba";
$tgico-info: "\e9bb";
$tgico-info2: "\e9bc";
$tgico-italic: "\e9bd";
$tgico-key: "\e9be";
$tgico-keyboard: "\e9bf";
$tgico-lamp: "\e9c0";
$tgico-language: "\e9c1";
$tgico-largepause: "\e9c2";
$tgico-largeplay: "\e9c3";
$tgico-left: "\e9c4";
$tgico-limit_chat: "\e9c5";
$tgico-limit_chats: "\e9c6";
$tgico-limit_file: "\e9c7";
$tgico-limit_folders: "\e9c8";
$tgico-limit_link: "\e9c9";
$tgico-limit_pin: "\e9ca";
$tgico-link: "\e9cb";
$tgico-link_paid: "\e9cc";
$tgico-list: "\e9cd";
$tgico-listscreenshare: "\e9ce";
$tgico-livelocation: "\e9cf";
$tgico-location: "\e9d0";
$tgico-lock: "\e9d1";
$tgico-lockoff: "\e9d2";
$tgico-loginlogodesktop: "\e9d3";
$tgico-loginlogomobile: "\e9d4";
$tgico-logout: "\e9d5";
$tgico-mac_command_key: "\e9d6";
$tgico-mediaspeed_empty: "\e9d7";
$tgico-mediaspoiler: "\e9d8";
$tgico-mediaspoileroff: "\e9d9";
$tgico-mention: "\e9da";
$tgico-menu: "\e9db";
$tgico-menu_feature_cover: "\e9dc";
$tgico-menu_feature_unique: "\e9dd";
$tgico-menu_verification: "\e9de";
$tgico-message: "\e9df";
$tgico-message_jump: "\e9e0";
$tgico-message_quote: "\e9e1";
$tgico-messageunread: "\e9e2";
$tgico-microphone: "\e9e3";
$tgico-microphone_crossed: "\e9e4";
$tgico-microphone_crossed_filled: "\e9e5";
$tgico-microphone_filled: "\e9e6";
$tgico-minus: "\e9e7";
$tgico-monospace: "\e9e8";
$tgico-more: "\e9e9";
$tgico-multistories: "\e9ea";
$tgico-mute: "\e9eb";
$tgico-muted: "\e9ec";
$tgico-mynotes: "\e9ed";
$tgico-newchannel: "\e9ee";
$tgico-newchannel_filled: "\e9ef";
$tgico-newchat_filled: "\e9f0";
$tgico-newgroup: "\e9f1";
$tgico-newgroup_filled: "\e9f2";
$tgico-newprivate: "\e9f3";
$tgico-newprivate_filled: "\e9f4";
$tgico-newtab: "\e9f5";
$tgico-next: "\e9f6";
$tgico-nochannel: "\e9f7";
$tgico-noncontacts: "\e9f8";
$tgico-nosound: "\e9f9";
$tgico-okay: "\e9fa";
$tgico-online: "\e9fb";
$tgico-passwordoff: "\e9fc";
$tgico-pause: "\e9fd";
$tgico-permissions: "\e9fe";
$tgico-person: "\e9ff";
$tgico-phone: "\ea00";
$tgico-phone_filled: "\ea01";
$tgico-pin: "\ea02";
$tgico-pin2: "\ea03";
$tgico-pinlist: "\ea04";
$tgico-pinned_filled: "\ea05";
$tgico-pinnedchat: "\ea06";
$tgico-pip: "\ea07";
$tgico-play: "\ea08";
$tgico-playback_05: "\ea09";
$tgico-playback_15: "\ea0a";
$tgico-playback_1x: "\ea0b";
$tgico-playback_2x: "\ea0c";
$tgico-plus: "\ea0d";
$tgico-plusround: "\ea0e";
$tgico-poll: "\ea0f";
$tgico-premium_addone: "\ea10";
$tgico-premium_avatars: "\ea11";
$tgico-premium_badge: "\ea12";
$tgico-premium_colors: "\ea13";
$tgico-premium_double: "\ea14";
$tgico-premium_emoji: "\ea15";
$tgico-premium_filesize: "\ea16";
$tgico-premium_lastseen: "\ea17";
$tgico-premium_limits: "\ea18";
$tgico-premium_lock: "\ea19";
$tgico-premium_management: "\ea1a";
$tgico-premium_noads: "\ea1b";
$tgico-premium_privacy: "\ea1c";
$tgico-premium_reactions: "\ea1d";
$tgico-premium_restrict: "\ea1e";
$tgico-premium_speed: "\ea1f";
$tgico-premium_status: "\ea20";
$tgico-premium_stickers: "\ea21";
$tgico-premium_tags: "\ea22";
$tgico-premium_transcription: "\ea23";
$tgico-premium_translate: "\ea24";
$tgico-premium_unlock: "\ea25";
$tgico-premium_wallpaper: "\ea26";
$tgico-previous: "\ea27";
$tgico-promote: "\ea28";
$tgico-quote: "\ea29";
$tgico-quote_outline: "\ea2a";
$tgico-radiooff: "\ea2b";
$tgico-radioon: "\ea2c";
$tgico-reactions: "\ea2d";
$tgico-reactions_filled: "\ea2e";
$tgico-readchats: "\ea2f";
$tgico-recent: "\ea30";
$tgico-redo: "\ea31";
$tgico-reload_star: "\ea32";
$tgico-replace: "\ea33";
$tgico-reply: "\ea34";
$tgico-reply_filled: "\ea35";
$tgico-restrict: "\ea36";
$tgico-revenue: "\ea37";
$tgico-rightpanel: "\ea38";
$tgico-rotate: "\ea39";
$tgico-rotate_left: "\ea3a";
$tgico-rotate_right: "\ea3b";
$tgico-round_chats_filled: "\ea3c";
$tgico-saturation: "\ea3d";
$tgico-saved: "\ea3e";
$tgico-savedmessages: "\ea3f";
$tgico-schedule: "\ea40";
$tgico-scheduled: "\ea41";
$tgico-search: "\ea42";
$tgico-select: "\ea43";
$tgico-send: "\ea44";
$tgico-send2: "\ea45";
$tgico-sending: "\ea46";
$tgico-sendingerror: "\ea47";
$tgico-settings: "\ea48";
$tgico-settings_clipped_corner: "\ea49";
$tgico-settings_filled: "\ea4a";
$tgico-shadows: "\ea4b";
$tgico-sharescreen_filled: "\ea4c";
$tgico-sharpen: "\ea4d";
$tgico-shipping: "\ea4e";
$tgico-shuffle: "\ea4f";
$tgico-smallscreen: "\ea50";
$tgico-smile: "\ea51";
$tgico-sort_date: "\ea52";
$tgico-sort_num: "\ea53";
$tgico-sort_price: "\ea54";
$tgico-speaker: "\ea55";
$tgico-speakerfilled: "\ea56";
$tgico-speakeroff: "\ea57";
$tgico-speakerofffilled: "\ea58";
$tgico-spoiler: "\ea59";
$tgico-sport: "\ea5a";
$tgico-star: "\ea5b";
$tgico-star_filled: "\ea5c";
$tgico-statistics: "\ea5d";
$tgico-stickers: "\ea5e";
$tgico-stickers_face: "\ea5f";
$tgico-stop: "\ea60";
$tgico-stories: "\ea61";
$tgico-storyreply: "\ea62";
$tgico-storyrepost: "\ea63";
$tgico-strikethrough: "\ea64";
$tgico-suggested: "\ea65";
$tgico-tag: "\ea66";
$tgico-tag_add: "\ea67";
$tgico-tag_alt: "\ea68";
$tgico-tag_alt_crossed: "\ea69";
$tgico-tag_alt_outline: "\ea6a";
$tgico-tag_crossed: "\ea6b";
$tgico-tag_filter: "\ea6c";
$tgico-tag_name: "\ea6d";
$tgico-text: "\ea6e";
$tgico-textedit: "\ea6f";
$tgico-time_lock: "\ea70";
$tgico-timer: "\ea71";
$tgico-tip: "\ea72";
$tgico-ton: "\ea73";
$tgico-tools: "\ea74";
$tgico-topics: "\ea75";
$tgico-trade: "\ea76";
$tgico-transcribe: "\ea77";
$tgico-unarchive: "\ea78";
$tgico-unclaimed: "\ea79";
$tgico-underline: "\ea7a";
$tgico-undo: "\ea7b";
$tgico-unmute: "\ea7c";
$tgico-unpack: "\ea7d";
$tgico-unpin: "\ea7e";
$tgico-unread: "\ea7f";
$tgico-up: "\ea80";
$tgico-up_down: "\ea81";
$tgico-user: "\ea82";
$tgico-username: "\ea83";
$tgico-videocamera: "\ea84";
$tgico-videocamera_crossed_filled: "\ea85";
$tgico-videocamera_filled: "\ea86";
$tgico-videochat: "\ea87";
$tgico-vignette: "\ea88";
$tgico-volume_down: "\ea89";
$tgico-volume_mute: "\ea8a";
$tgico-volume_off: "\ea8b";
$tgico-volume_up: "\ea8c";
$tgico-warmth: "\ea8d";
$tgico-warning: "\ea8e";
$tgico-webview: "\ea8f";
$tgico-win_key: "\ea90";
$tgico-zoomin: "\ea91";
$tgico-zoomout: "\ea92";

