$tgico-check: "\e900";
$tgico-checks: "\e901";
$tgico-activesessions: "\e902";
$tgico-add: "\e903";
$tgico-add_reaction: "\e904";
$tgico-addmember_filled: "\e905";
$tgico-adduser: "\e906";
$tgico-admin: "\e907";
$tgico-animals: "\e908";
$tgico-animations: "\e909";
$tgico-archive: "\e90a";
$tgico-arrow_down: "\e90b";
$tgico-arrow_next: "\e90c";
$tgico-attach: "\e90d";
$tgico-audio_repeat: "\e90e";
$tgico-audio_repeat_single: "\e90f";
$tgico-avatarnext: "\e910";
$tgico-avatarprevious: "\e911";
$tgico-bold: "\e912";
$tgico-botcom: "\e913";
$tgico-bots: "\e914";
$tgico-bug: "\e915";
$tgico-calendar: "\e916";
$tgico-calendarfilter: "\e917";
$tgico-camera: "\e918";
$tgico-cameraadd: "\e919";
$tgico-car: "\e91a";
$tgico-card: "\e91b";
$tgico-card_outline: "\e91c";
$tgico-channel: "\e91d";
$tgico-channelviews: "\e91e";
$tgico-chatspinned: "\e91f";
$tgico-chatsplaceholder: "\e920";
$tgico-check1: "\e921";
$tgico-checkbox: "\e922";
$tgico-checkboxblock: "\e923";
$tgico-checkboxempty: "\e924";
$tgico-checkboxon: "\e925";
$tgico-checkretract: "\e926";
$tgico-checkround: "\e927";
$tgico-close: "\e928";
$tgico-clouddownload: "\e929";
$tgico-colorize: "\e92a";
$tgico-comments: "\e92b";
$tgico-commentssticker: "\e92c";
$tgico-copy: "\e92d";
$tgico-darkmode: "\e92e";
$tgico-data: "\e92f";
$tgico-delete: "\e930";
$tgico-delete_filled: "\e931";
$tgico-deletedaccount: "\e932";
$tgico-deleteleft: "\e933";
$tgico-deleteuser: "\e934";
$tgico-devices: "\e935";
$tgico-document: "\e936";
$tgico-down: "\e937";
$tgico-download: "\e938";
$tgico-dragfiles: "\e939";
$tgico-dragmedia: "\e93a";
$tgico-eats: "\e93b";
$tgico-edit: "\e93c";
$tgico-email: "\e93d";
$tgico-endcall_filled: "\e93e";
$tgico-enter: "\e93f";
$tgico-eye1: "\e940";
$tgico-eye2: "\e941";
$tgico-fast_forward: "\e942";
$tgico-fast_rewind: "\e943";
$tgico-favourites: "\e944";
$tgico-flag: "\e945";
$tgico-flip: "\e946";
$tgico-folder: "\e947";
$tgico-fontsize: "\e948";
$tgico-forward: "\e949";
$tgico-forward_filled: "\e94a";
$tgico-fullscreen: "\e94b";
$tgico-gc_microphone: "\e94c";
$tgico-gc_microphoneoff: "\e94d";
$tgico-gifs: "\e94e";
$tgico-group: "\e94f";
$tgico-help: "\e950";
$tgico-image: "\e951";
$tgico-info: "\e952";
$tgico-info2: "\e953";
$tgico-italic: "\e954";
$tgico-keyboard: "\e955";
$tgico-lamp: "\e956";
$tgico-language: "\e957";
$tgico-largepause: "\e958";
$tgico-largeplay: "\e959";
$tgico-left: "\e95a";
$tgico-limit_chat: "\e95b";
$tgico-limit_chats: "\e95c";
$tgico-limit_file: "\e95d";
$tgico-limit_folders: "\e95e";
$tgico-limit_link: "\e95f";
$tgico-limit_pin: "\e960";
$tgico-link: "\e961";
$tgico-listscreenshare: "\e962";
$tgico-livelocation: "\e963";
$tgico-location: "\e964";
$tgico-lock: "\e965";
$tgico-lockoff: "\e966";
$tgico-loginlogodesktop: "\e967";
$tgico-loginlogomobile: "\e968";
$tgico-logout: "\e969";
$tgico-mention: "\e96a";
$tgico-menu: "\e96b";
$tgico-message: "\e96c";
$tgico-messageunread: "\e96d";
$tgico-microphone: "\e96e";
$tgico-microphone_crossed: "\e96f";
$tgico-microphone_crossed_filled: "\e970";
$tgico-microphone_filled: "\e971";
$tgico-minus: "\e972";
$tgico-monospace: "\e973";
$tgico-more: "\e974";
$tgico-mute: "\e975";
$tgico-muted: "\e976";
$tgico-newchannel: "\e977";
$tgico-newchat_filled: "\e978";
$tgico-newgroup: "\e979";
$tgico-newprivate: "\e97a";
$tgico-next: "\e97b";
$tgico-noncontacts: "\e97c";
$tgico-nosound: "\e97d";
$tgico-passwordoff: "\e97e";
$tgico-pause: "\e97f";
$tgico-permissions: "\e980";
$tgico-phone: "\e981";
$tgico-pin: "\e982";
$tgico-pinlist: "\e983";
$tgico-pinned_filled: "\e984";
$tgico-pinnedchat: "\e985";
$tgico-pip: "\e986";
$tgico-play: "\e987";
$tgico-playback_05: "\e988";
$tgico-playback_15: "\e989";
$tgico-playback_1x: "\e98a";
$tgico-playback_2x: "\e98b";
$tgico-plus: "\e98c";
$tgico-poll: "\e98d";
$tgico-premium_addone: "\e98e";
$tgico-premium_double: "\e98f";
$tgico-premium_lock: "\e990";
$tgico-premium_unlock: "\e991";
$tgico-previous: "\e992";
$tgico-radiooff: "\e993";
$tgico-radioon: "\e994";
$tgico-reactions: "\e995";
$tgico-readchats: "\e996";
$tgico-recent: "\e997";
$tgico-replace: "\e998";
$tgico-reply: "\e999";
$tgico-reply_filled: "\e99a";
$tgico-rightpanel: "\e99b";
$tgico-rotate_left: "\e99c";
$tgico-rotate_right: "\e99d";
$tgico-saved: "\e99e";
$tgico-savedmessages: "\e99f";
$tgico-schedule: "\e9a0";
$tgico-scheduled: "\e9a1";
$tgico-search: "\e9a2";
$tgico-select: "\e9a3";
$tgico-send: "\e9a4";
$tgico-send2: "\e9a5";
$tgico-sending: "\e9a6";
$tgico-sendingerror: "\e9a7";
$tgico-settings: "\e9a8";
$tgico-settings_filled: "\e9a9";
$tgico-sharescreen_filled: "\e9aa";
$tgico-shipping: "\e9ab";
$tgico-shuffle: "\e9ac";
$tgico-smallscreen: "\e9ad";
$tgico-smile: "\e9ae";
$tgico-spoiler: "\e9af";
$tgico-sport: "\e9b0";
$tgico-star: "\e9b1";
$tgico-stickers: "\e9b2";
$tgico-stop: "\e9b3";
$tgico-strikethrough: "\e9b4";
$tgico-textedit: "\e9b5";
$tgico-tip: "\e9b6";
$tgico-tools: "\e9b7";
$tgico-unarchive: "\e9b8";
$tgico-underline: "\e9b9";
$tgico-unmute: "\e9ba";
$tgico-unpin: "\e9bb";
$tgico-unread: "\e9bc";
$tgico-up: "\e9bd";
$tgico-user: "\e9be";
$tgico-username: "\e9bf";
$tgico-videocamera: "\e9c0";
$tgico-videocamera_crossed_filled: "\e9c1";
$tgico-videocamera_filled: "\e9c2";
$tgico-videochat: "\e9c3";
$tgico-volume_down: "\e9c4";
$tgico-volume_mute: "\e9c5";
$tgico-volume_off: "\e9c6";
$tgico-volume_up: "\e9c7";
$tgico-zoomin: "\e9c8";
$tgico-zoomout: "\e9c9";

