$tgico-check: unquote('"\\e900"');
$tgico-checks: unquote('"\\e901"');
$tgico-activesessions: unquote('"\\e902"');
$tgico-add: unquote('"\\e903"');
$tgico-add_reaction: unquote('"\\e904"');
$tgico-addboost: unquote('"\\e905"');
$tgico-addmember_filled: unquote('"\\e906"');
$tgico-adduser: unquote('"\\e907"');
$tgico-admin: unquote('"\\e908"');
$tgico-animals: unquote('"\\e909"');
$tgico-animations: unquote('"\\e90a"');
$tgico-archive: unquote('"\\e90b"');
$tgico-arrow_down: unquote('"\\e90c"');
$tgico-arrow_next: unquote('"\\e90d"');
$tgico-arrowcircle: unquote('"\\e90e"');
$tgico-attach: unquote('"\\e90f"');
$tgico-audio_repeat: unquote('"\\e910"');
$tgico-audio_repeat_single: unquote('"\\e911"');
$tgico-author_hidden: unquote('"\\e912"');
$tgico-avatarnext: unquote('"\\e913"');
$tgico-avatarprevious: unquote('"\\e914"');
$tgico-binfilled: unquote('"\\e915"');
$tgico-bold: unquote('"\\e916"');
$tgico-bomb: unquote('"\\e917"');
$tgico-boost: unquote('"\\e918"');
$tgico-boostcircle: unquote('"\\e919"');
$tgico-botcom: unquote('"\\e91a"');
$tgico-bots: unquote('"\\e91b"');
$tgico-bug: unquote('"\\e91c"');
$tgico-calendar: unquote('"\\e91d"');
$tgico-calendarfilter: unquote('"\\e91e"');
$tgico-camera: unquote('"\\e91f"');
$tgico-cameraadd: unquote('"\\e920"');
$tgico-car: unquote('"\\e921"');
$tgico-card: unquote('"\\e922"');
$tgico-card_outline: unquote('"\\e923"');
$tgico-channel: unquote('"\\e924"');
$tgico-channelviews: unquote('"\\e925"');
$tgico-chatspinned: unquote('"\\e926"');
$tgico-chatsplaceholder: unquote('"\\e927"');
$tgico-check1: unquote('"\\e928"');
$tgico-checkbox: unquote('"\\e929"');
$tgico-checkboxblock: unquote('"\\e92a"');
$tgico-checkboxempty: unquote('"\\e92b"');
$tgico-checkboxon: unquote('"\\e92c"');
$tgico-checkretract: unquote('"\\e92d"');
$tgico-checkround: unquote('"\\e92e"');
$tgico-checkround_filled: unquote('"\\e92f"');
$tgico-clock: unquote('"\\e930"');
$tgico-close: unquote('"\\e931"');
$tgico-clouddownload: unquote('"\\e932"');
$tgico-colorize: unquote('"\\e933"');
$tgico-comments: unquote('"\\e934"');
$tgico-commentssticker: unquote('"\\e935"');
$tgico-copy: unquote('"\\e936"');
$tgico-crossround: unquote('"\\e937"');
$tgico-darkmode: unquote('"\\e938"');
$tgico-data: unquote('"\\e939"');
$tgico-delete: unquote('"\\e93a"');
$tgico-delete_filled: unquote('"\\e93b"');
$tgico-deletedaccount: unquote('"\\e93c"');
$tgico-deleteleft: unquote('"\\e93d"');
$tgico-deleteuser: unquote('"\\e93e"');
$tgico-devices: unquote('"\\e93f"');
$tgico-document: unquote('"\\e940"');
$tgico-down: unquote('"\\e941"');
$tgico-download: unquote('"\\e942"');
$tgico-dragfiles: unquote('"\\e943"');
$tgico-dragmedia: unquote('"\\e944"');
$tgico-eats: unquote('"\\e945"');
$tgico-edit: unquote('"\\e946"');
$tgico-email: unquote('"\\e947"');
$tgico-endcall_filled: unquote('"\\e948"');
$tgico-enter: unquote('"\\e949"');
$tgico-eye: unquote('"\\e94a"');
$tgico-eye1: unquote('"\\e94b"');
$tgico-eye2: unquote('"\\e94c"');
$tgico-eyecross_outline: unquote('"\\e94d"');
$tgico-fast_forward: unquote('"\\e94e"');
$tgico-fast_rewind: unquote('"\\e94f"');
$tgico-favourites: unquote('"\\e950"');
$tgico-flag: unquote('"\\e951"');
$tgico-flip: unquote('"\\e952"');
$tgico-folder: unquote('"\\e953"');
$tgico-fontsize: unquote('"\\e954"');
$tgico-forward: unquote('"\\e955"');
$tgico-forward_filled: unquote('"\\e956"');
$tgico-fullscreen: unquote('"\\e957"');
$tgico-gc_microphone: unquote('"\\e958"');
$tgico-gc_microphoneoff: unquote('"\\e959"');
$tgico-gifs: unquote('"\\e95a"');
$tgico-gift: unquote('"\\e95b"');
$tgico-gift_premium: unquote('"\\e95c"');
$tgico-group: unquote('"\\e95d"');
$tgico-group_filled: unquote('"\\e95e"');
$tgico-groupmedia: unquote('"\\e95f"');
$tgico-groupmediaoff: unquote('"\\e960"');
$tgico-hand: unquote('"\\e961"');
$tgico-help: unquote('"\\e962"');
$tgico-hide: unquote('"\\e963"');
$tgico-image: unquote('"\\e964"');
$tgico-info: unquote('"\\e965"');
$tgico-info2: unquote('"\\e966"');
$tgico-italic: unquote('"\\e967"');
$tgico-keyboard: unquote('"\\e968"');
$tgico-lamp: unquote('"\\e969"');
$tgico-language: unquote('"\\e96a"');
$tgico-largepause: unquote('"\\e96b"');
$tgico-largeplay: unquote('"\\e96c"');
$tgico-left: unquote('"\\e96d"');
$tgico-limit_chat: unquote('"\\e96e"');
$tgico-limit_chats: unquote('"\\e96f"');
$tgico-limit_file: unquote('"\\e970"');
$tgico-limit_folders: unquote('"\\e971"');
$tgico-limit_link: unquote('"\\e972"');
$tgico-limit_pin: unquote('"\\e973"');
$tgico-link: unquote('"\\e974"');
$tgico-list: unquote('"\\e975"');
$tgico-listscreenshare: unquote('"\\e976"');
$tgico-livelocation: unquote('"\\e977"');
$tgico-location: unquote('"\\e978"');
$tgico-lock: unquote('"\\e979"');
$tgico-lockoff: unquote('"\\e97a"');
$tgico-loginlogodesktop: unquote('"\\e97b"');
$tgico-loginlogomobile: unquote('"\\e97c"');
$tgico-logout: unquote('"\\e97d"');
$tgico-mediaspoiler: unquote('"\\e97e"');
$tgico-mediaspoileroff: unquote('"\\e97f"');
$tgico-mention: unquote('"\\e980"');
$tgico-menu: unquote('"\\e981"');
$tgico-message: unquote('"\\e982"');
$tgico-message_jump: unquote('"\\e983"');
$tgico-message_quote: unquote('"\\e984"');
$tgico-messageunread: unquote('"\\e985"');
$tgico-microphone: unquote('"\\e986"');
$tgico-microphone_crossed: unquote('"\\e987"');
$tgico-microphone_crossed_filled: unquote('"\\e988"');
$tgico-microphone_filled: unquote('"\\e989"');
$tgico-minus: unquote('"\\e98a"');
$tgico-monospace: unquote('"\\e98b"');
$tgico-more: unquote('"\\e98c"');
$tgico-multistories: unquote('"\\e98d"');
$tgico-mute: unquote('"\\e98e"');
$tgico-muted: unquote('"\\e98f"');
$tgico-mynotes: unquote('"\\e990"');
$tgico-newchannel: unquote('"\\e991"');
$tgico-newchannel_filled: unquote('"\\e992"');
$tgico-newchat_filled: unquote('"\\e993"');
$tgico-newgroup: unquote('"\\e994"');
$tgico-newgroup_filled: unquote('"\\e995"');
$tgico-newprivate: unquote('"\\e996"');
$tgico-newprivate_filled: unquote('"\\e997"');
$tgico-newtab: unquote('"\\e998"');
$tgico-next: unquote('"\\e999"');
$tgico-noncontacts: unquote('"\\e99a"');
$tgico-nosound: unquote('"\\e99b"');
$tgico-online: unquote('"\\e99c"');
$tgico-passwordoff: unquote('"\\e99d"');
$tgico-pause: unquote('"\\e99e"');
$tgico-permissions: unquote('"\\e99f"');
$tgico-phone: unquote('"\\e9a0"');
$tgico-phone_filled: unquote('"\\e9a1"');
$tgico-pin: unquote('"\\e9a2"');
$tgico-pinlist: unquote('"\\e9a3"');
$tgico-pinned_filled: unquote('"\\e9a4"');
$tgico-pinnedchat: unquote('"\\e9a5"');
$tgico-pip: unquote('"\\e9a6"');
$tgico-play: unquote('"\\e9a7"');
$tgico-playback_05: unquote('"\\e9a8"');
$tgico-playback_15: unquote('"\\e9a9"');
$tgico-playback_1x: unquote('"\\e9aa"');
$tgico-playback_2x: unquote('"\\e9ab"');
$tgico-plus: unquote('"\\e9ac"');
$tgico-plusround: unquote('"\\e9ad"');
$tgico-poll: unquote('"\\e9ae"');
$tgico-premium_addone: unquote('"\\e9af"');
$tgico-premium_avatars: unquote('"\\e9b0"');
$tgico-premium_badge: unquote('"\\e9b1"');
$tgico-premium_colors: unquote('"\\e9b2"');
$tgico-premium_double: unquote('"\\e9b3"');
$tgico-premium_emoji: unquote('"\\e9b4"');
$tgico-premium_filesize: unquote('"\\e9b5"');
$tgico-premium_lastseen: unquote('"\\e9b6"');
$tgico-premium_limits: unquote('"\\e9b7"');
$tgico-premium_lock: unquote('"\\e9b8"');
$tgico-premium_management: unquote('"\\e9b9"');
$tgico-premium_noads: unquote('"\\e9ba"');
$tgico-premium_privacy: unquote('"\\e9bb"');
$tgico-premium_reactions: unquote('"\\e9bc"');
$tgico-premium_restrict: unquote('"\\e9bd"');
$tgico-premium_speed: unquote('"\\e9be"');
$tgico-premium_status: unquote('"\\e9bf"');
$tgico-premium_stickers: unquote('"\\e9c0"');
$tgico-premium_tags: unquote('"\\e9c1"');
$tgico-premium_transcription: unquote('"\\e9c2"');
$tgico-premium_translate: unquote('"\\e9c3"');
$tgico-premium_unlock: unquote('"\\e9c4"');
$tgico-premium_wallpaper: unquote('"\\e9c5"');
$tgico-previous: unquote('"\\e9c6"');
$tgico-promote: unquote('"\\e9c7"');
$tgico-quote: unquote('"\\e9c8"');
$tgico-quote_outline: unquote('"\\e9c9"');
$tgico-radiooff: unquote('"\\e9ca"');
$tgico-radioon: unquote('"\\e9cb"');
$tgico-reactions: unquote('"\\e9cc"');
$tgico-reactions_filled: unquote('"\\e9cd"');
$tgico-readchats: unquote('"\\e9ce"');
$tgico-recent: unquote('"\\e9cf"');
$tgico-replace: unquote('"\\e9d0"');
$tgico-reply: unquote('"\\e9d1"');
$tgico-reply_filled: unquote('"\\e9d2"');
$tgico-restrict: unquote('"\\e9d3"');
$tgico-rightpanel: unquote('"\\e9d4"');
$tgico-rotate_left: unquote('"\\e9d5"');
$tgico-rotate_right: unquote('"\\e9d6"');
$tgico-saved: unquote('"\\e9d7"');
$tgico-savedmessages: unquote('"\\e9d8"');
$tgico-schedule: unquote('"\\e9d9"');
$tgico-scheduled: unquote('"\\e9da"');
$tgico-search: unquote('"\\e9db"');
$tgico-select: unquote('"\\e9dc"');
$tgico-send: unquote('"\\e9dd"');
$tgico-send2: unquote('"\\e9de"');
$tgico-sending: unquote('"\\e9df"');
$tgico-sendingerror: unquote('"\\e9e0"');
$tgico-settings: unquote('"\\e9e1"');
$tgico-settings_filled: unquote('"\\e9e2"');
$tgico-sharescreen_filled: unquote('"\\e9e3"');
$tgico-shipping: unquote('"\\e9e4"');
$tgico-shuffle: unquote('"\\e9e5"');
$tgico-smallscreen: unquote('"\\e9e6"');
$tgico-smile: unquote('"\\e9e7"');
$tgico-speaker: unquote('"\\e9e8"');
$tgico-speakerfilled: unquote('"\\e9e9"');
$tgico-speakeroff: unquote('"\\e9ea"');
$tgico-speakerofffilled: unquote('"\\e9eb"');
$tgico-spoiler: unquote('"\\e9ec"');
$tgico-sport: unquote('"\\e9ed"');
$tgico-star: unquote('"\\e9ee"');
$tgico-star_filled: unquote('"\\e9ef"');
$tgico-statistics: unquote('"\\e9f0"');
$tgico-stickers: unquote('"\\e9f1"');
$tgico-stickers_face: unquote('"\\e9f2"');
$tgico-stop: unquote('"\\e9f3"');
$tgico-stories: unquote('"\\e9f4"');
$tgico-storyreply: unquote('"\\e9f5"');
$tgico-storyrepost: unquote('"\\e9f6"');
$tgico-strikethrough: unquote('"\\e9f7"');
$tgico-tag: unquote('"\\e9f8"');
$tgico-tag_add: unquote('"\\e9f9"');
$tgico-tag_crossed: unquote('"\\e9fa"');
$tgico-tag_filter: unquote('"\\e9fb"');
$tgico-tag_name: unquote('"\\e9fc"');
$tgico-textedit: unquote('"\\e9fd"');
$tgico-timer: unquote('"\\e9fe"');
$tgico-tip: unquote('"\\e9ff"');
$tgico-tools: unquote('"\\ea00"');
$tgico-topics: unquote('"\\ea01"');
$tgico-transcribe: unquote('"\\ea02"');
$tgico-unarchive: unquote('"\\ea03"');
$tgico-unclaimed: unquote('"\\ea04"');
$tgico-underline: unquote('"\\ea05"');
$tgico-unmute: unquote('"\\ea06"');
$tgico-unpin: unquote('"\\ea07"');
$tgico-unread: unquote('"\\ea08"');
$tgico-up: unquote('"\\ea09"');
$tgico-user: unquote('"\\ea0a"');
$tgico-username: unquote('"\\ea0b"');
$tgico-videocamera: unquote('"\\ea0c"');
$tgico-videocamera_crossed_filled: unquote('"\\ea0d"');
$tgico-videocamera_filled: unquote('"\\ea0e"');
$tgico-videochat: unquote('"\\ea0f"');
$tgico-volume_down: unquote('"\\ea10"');
$tgico-volume_mute: unquote('"\\ea11"');
$tgico-volume_off: unquote('"\\ea12"');
$tgico-volume_up: unquote('"\\ea13"');
$tgico-webview: unquote('"\\ea14"');
$tgico-zoomin: unquote('"\\ea15"');
$tgico-zoomout: unquote('"\\ea16"');

