.LottieAnimation {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: var(--size, 100%);

  margin: 0 auto;
  margin-top: 1.5rem;

  cursor: pointer;
}

.LargeButtonWrapper {
  padding: 0 1rem;
}

.LargeButton {
  height: 3rem;
  font-size: 1rem;

  text-transform: uppercase;
  font-weight: 600;
}
