.Container {
  padding: 8px;
  padding-right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  &.forum .Photo {
    border-radius: 40%;
  }
}

.Photo {
  position: relative;

  width: 100% !important;
  height: unset !important;
  max-width: 120px;

  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
