.Container {
  height: 120px;
  padding: 8px;
  padding-right: 16px;

  display: flex;
  justify-content: center;

  &.forum .Photo {
    border-radius: 40%;
  }
}

.Photo {
  position: relative;

  width: unset !important;
  height: unset !important;
  max-width: 100%;
  max-height: 100%;

  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
