.Container {
  position: relative;
  overflow: hidden;

  display: inline-flex;
  gap: 4px;
  padding: 3px 8px 2px 9px;
  border-radius: 6px;

  font-size: 14px;

  background-color: rgba(var(--primary-color-rgb), 0.2);
}

.Value {
  font-weight: 500;
}

.Border {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;

  background-color: rgba(var(--primary-color-rgb), 0.5);
}
