.Container {
  display: inline-flex;
  gap: 4px;
  padding: 3px 8px 2px 6px;
  border-radius: 6px;

  font-size: 14px;

  border-left: 3px solid rgba(var(--primary-color-rgb), 0.5);
  background-color: rgba(var(--primary-color-rgb), 0.2);
}

.Value {
  font-weight: 500;
}
