.Container {
  border-radius: 12px;
  background-color: var(--surface-color);

  cursor: pointer;

  &:hover {
    background-color: hsl(from var(--surface-color) h s calc(l - 2));
  }

  :global(.night) &:hover {
    background-color: hsl(from var(--surface-color) h s calc(l + 5));
  }
}

.Header {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 10px 12px;
}

.Group {
  flex: 1;
  min-width: 0; /* crucial – allows the item to shrink below its content width */
}

.Icon {
  display: flex;
  font-size: 20px;
}

.NameRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PeerTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.2;
  padding-top: 1px;
}

.Message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.2;
  padding-top: 2px;
}

.Date {
  font-size: 13px;
  line-height: 1;
  /* color: var(--secondary-text-color); */
  opacity: 0.4;
  font-weight: 200;
}

.ExpandableContent {
  font-size: 16px;
  padding: 8px 12px;
  border-top: 1px solid var(--background-color);

  &Wrapper {
    overflow: hidden;
  }

  &Title {
    padding: 0 2px;
  }

  &Space {
    height: 4px;
  }
}
