@import '../../scss/variables';
@import '../../scss/mixins';

.Container {
  overflow: hidden;
}

.ScrollableContainer {
  padding: inherit;
  position: relative;
  height: calc(32px * var(--max-visible-items, 8) + 10px);
}

.Label {
  position: relative;

  font-size: 12px;
  font-weight: 500;

  padding: 0 16px;
  padding-bottom: 4px;

  color: var(--secondary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  &Text {
    max-width: 100%;
    padding-right: 4px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.Input {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
}

.Char {
  --border-radius: 4px;
  --border-width: 1px;

  background-color: hsl(from var(--primary-color) h s calc(l + 20) / 0.25);
  border-style: solid;
  border-color: hsl(from var(--primary-color) h s calc(l + 10));
  border-width: 0px;

  &.single {
    border-radius: var(--border-radius);
    border-width: var(--border-width);
  }

  &.middle {
    border-top-width: var(--border-width);
    border-bottom-width: var(--border-width);
  }

  &.start {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    border-top-width: var(--border-width);
    border-bottom-width: var(--border-width);
    border-left-width: var(--border-width);
  }

  &.end {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    border-top-width: var(--border-width);
    border-bottom-width: var(--border-width);
    border-right-width: var(--border-width);
  }
}

.Hidden {
  display: none;
}

.Item {
  &.selected {
    background-color: var(--light-secondary-text-color);
  }

  &Label {
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;

    &Enter {
      opacity: 0.5;
    }
  }

  &Icon {
    position: relative;
    &Check {
      position: absolute;
      right: -5px;
      bottom: -2px;

      font-size: 12px;
      line-height: 1;

      display: flex;
      color: var(--surface-color);
      background-color: var(--primary-text-color);

      border-radius: 50%;
      border: 1px solid var(--surface-color);
    }
  }
}

.AppearZoom {
  &EnterActive, &ExitActive {
    @include animation-level-global(2) {
      transition: transform 0.1s ease-out;
    }
  }

  &Enter, &ExitTo {
    transform: scale(0);
  }
}
