.popup {
  --popup-min-width: 26.25rem;
  --popup-max-width: 26.25rem;

  &Container {
    padding: 1rem;
    border-radius: 2rem;
  }

  &Header {
    position: absolute;
    margin: 0;
    top: .625rem;
    inset-inline-start: .625rem;
  }

  &CloseButton {
    width: 2.25rem;
    height: 2.25rem;
  }

  &Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &Footer {
    padding: 1.25rem 0 0;

    :global(.popup-footer-button) {
      border-radius: 1rem;
    }
  }
}

.img {
  width: 7.5rem;
  height: 7.5rem;
  margin-top: 0.375rem;
  position: relative;
}

.title {
  margin-top: 1.125rem;
  margin-bottom: 1.75rem;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}


.privacyInfo {
  margin-top: 1.75rem;
  text-align: center;
  text-wrap: balance;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);

  &Link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
}

.datePicker {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  width: 100%;
  margin-top: .75rem;

  .day,
  .year {
    width: 5rem;
  }

  .month {
    flex: 1;
  }

  :global(.input-field) {
    --height: 48px;
    --border-radius: 12px;
    --padding: 0.8125rem;
  }
}

.monthMenu {
  width: calc(var(--parent-half-width) * 2);
}