.popup {
  --popup-min-width: 26.25rem;
  --popup-max-width: 26.25rem;

  &Body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.privacyInfo {
  margin-top: 1.75rem;
  text-align: center;
  text-wrap: balance;
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);

  &Link {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
}

.datePicker {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  width: 100%;
  margin-top: .75rem;

  .day,
  .year {
    width: 5rem;
  }

  .month {
    flex: 1;
  }

  :global(.input-field) {
    --height: 48px;
    --border-radius: 12px;
    --padding: 0.8125rem;
  }
}

.monthMenu {
  width: calc(var(--parent-half-width) * 2);
}
