@import '../../scss/mixins';

.popup {
  :global(.popup-container) {
    width: 21.5rem;
    border-radius: 10px;
    padding: 0;
    overflow: visible;
  }

  :global(.popup-buttons) {
    padding: 0 0.25rem;
    margin: 0.5rem;
    justify-content: space-between;
  }

  :global(.popup-body) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    overflow: visible;
  }
}

.onlyTon {
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);
  margin-top: 0.875rem;
  text-align: center;
}

.graph {
  margin-top: 1.5rem;
}

.title {
  margin-top: 1.5rem;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-inline: 1rem;
  align-self: flex-start;
}

.text {
  margin-top: 1.125rem;
  padding-inline: 1rem;
  align-self: flex-start;
  line-height: 20px;
}

.starsBalance {
  left: 50%;
  top: -1rem;
  transform: translate(-50%, -100%);
}