.popup {
  --popup-width: 23rem;
}

.item {
  position: relative;
  width: 100%;

  &RemoveButton {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
    z-index: 2;
  }

  :global(.input-field-border),
  :global(.input-field-input) {
    border-radius: 0;
  }

  :global(.input-field-input) {
    border-bottom: 1px solid transparent;
    padding-inline-end: 3rem;

    &:hover {
      border-bottom-color: var(--input-search-border-color);
    }

    &:global(.error) {
      border-bottom-color: var(--danger-color);
    }
  }

  &.itemFirst {
    :global(.input-field-border),
    :global(.input-field-input) {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }
  }

  &.itemLast {
    :global(.input-field-border),
    :global(.input-field-input) {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    :global(.input-field-input) {
      border-bottom: 1px solid var(--input-search-border-color);

      &:global(.error) {
        border-bottom-color: var(--danger-color);
      }
    }
  }
}

.addTaskButton {
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 10px;
  overflow: hidden;
}
