@use "../../scss/mixins" as *;

.popup {
  --popup-min-width: 26.25rem;
  --popup-max-width: 26.25rem;
}

.balance {
  left: 50%;
  top: -1rem;
  transform: translate(-50%, -100%);
  opacity: 1;
  z-index: -1;
}

.input {
  margin-top: 0.75rem;
}

.chipTabs {
  margin-inline: -0.5rem;
}
