.popup {
  --popup-min-width: 26.25rem;
  --popup-max-width: 26.25rem;

  &Container {
    padding: 1rem;
  }

  &Header {
    position: absolute;
    margin: 0;
    top: .625rem;
    inset-inline-start: .625rem;
  }

  &CloseButton {
    width: 2.25rem;
    height: 2.25rem;
  }

  &Footer {
    padding: 1.625rem 0 0;
  }
}

.title {
  font-size: var(--font-size-24);
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-bold);
  margin-bottom: .25rem;
}

.lottieAnimation {
  margin: .125rem auto .5rem;
  width: var(--size);
  height: var(--size);
  position: relative;
}

.row {
  padding-inline-start: 3.75rem;
  margin-top: .75rem;

  &Icon {
    top: 1rem !important;
    transform: none !important;
    inset-inline-start: 1.5rem !important;
  }

  &Subtitle {
    font-size: var(--font-size-16) !important;
    line-height: var(--line-height-16);
    margin-top: .0625rem !important;
  }
}
