@import '../../scss/mixins';

.popup {
  :global {
    .popup-container {
      width: 26.25rem;
      border-radius: 14px;
      padding: 0;
    }

    .popup-header {
      margin: 0;
      padding: 1rem 1rem 0;
    }

    .popup-footer {
      padding: 0;
      margin-top: 0.5rem;
      padding: 1rem;
      padding-top: 0.75rem;

      .btn-primary {
        height: 48px;
        line-height: 48px;
      }
    }

    .popup-body {
      background: var(--background-color);
    }

    .popup-close {
      margin-inline-end: 1rem;
    }
  }
}

.input {
  margin: 0.5rem;
  margin-top: 1.5rem;
}
