.Container {
  position: relative;
  overflow: hidden;

  &.disabled {
    pointer-events: none !important;
  }
}

.Icon {
  transition: opacity 0.2s;

  &.floating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.hidden {
    opacity: 0;
  }
}

.LoadingContainer {
  display: inline-flex;

  pointer-events: initial;
}

.Loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
