@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

:global(.pinned-sponsored) {
  --container-height: auto;
  z-index: 0;
  gap: .25rem;
}

.container {
  border-radius: 1.25rem;
  display: flex;
  padding-inline-start: 0.75rem;
  width: 100%;
  background-color: var(--light-filled-primary-color);
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0.125rem 0;
  font-size: var(--font-size-14);
  line-height: var(--line-height-14);
  position: relative;
  z-index: 1;
}

.photoWrap {
  margin-top: .25rem;
  margin-inline-end: .375rem;
  position: relative;
}

.photo,
.photo :global(.media-photo) {
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 0.25rem;
}
