.Container {
  position: absolute;

  bottom: 0;
  left: 50%;

  height: 48px;
  width: 584px;
  max-width: 100%;

  padding: 24px;

  transform: translateX(-50%);

  display: flex;
  gap: 12px;
}

.IconButton {
  flex: none;

  padding: 0.75rem;
}

.Frames {
  position: relative;
  height: 100%;
  flex: 1;
}

.Cropper {
  --left: 0px;
  --width: 100%;

  &Bg {
    position: absolute;
    height: 100%;
    width: 100%;

    background-color:;

    &Left {
    }
    &Right {
    }
  }

  &Handle {
    &Left {
    }
    &Right {
    }
  }
}

.Images {
}

.TimeStick {
}

.IconButton {
}

.ThumbnailMark {
}
