.EmojiButton {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: var(--surface-color);
}

.EmoticonsDropdown, .StickerViewer {
  z-index: 6;
}
