@use "../../../../scss/variables" as *;
@use "../../../../scss/mixins" as *;

.popup {
  --popup-min-width: 26.25rem;
  --popup-max-width: 26.25rem;

  &Container {
    padding: 1rem;
    border-radius: 2rem;
  }

  &Header {
    position: absolute;
    margin: 0;
    top: .625rem;
    inset-inline-start: .625rem;
  }

  &CloseButton {
    width: 2.25rem;
    height: 2.25rem;
  }

  &Footer {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1.25rem 0 0;
    min-height: unset;

    :global(.popup-footer-button) {
      border-radius: 100px;
      flex: 1;
      margin: 0;
    }
  }
}

.header {
  padding-block: 3.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--size);
  position: relative;
}

.emojiButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: var(--surface-color);
  border-radius: 50%;
  cursor: pointer;
}
