.rtmp-record-popup .popup-container {
  max-width: 420px;
  border-radius: 16px;
}

.rtmp-record-popup .popup-close {
  margin-right: 16px;
}

.rtmp-record-popup .popup-header {
  margin-bottom: 16px;
}

.rtmp-record-popup .popup-body {
  overflow: visible;
}

.rtmp-record-popup-config-text {
  margin: 20px 8px 12px;
  font-size: 16px;
  line-height: 22px;
  color: var(--secondary-text-color);
}

.rtmp-record-popup-preview {
  background: var(--background-color);
  margin: 8px -16px 0;
  width: calc(100% + 32px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.rtmp-record-popup-preview-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
}

.rtmp-record-popup-preview-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rtmp-record-popup-preview-title {
  margin-top: 16px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 22px;
}

.rtmp-record-popup-preview-img {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
}

.rtmp-record-popup-preview-img_audio {
  margin-top: 38px;
  margin-bottom: 18px;
  width: 168px;
  height: 64px;
  border-radius: 10px;
}

.rtmp-record-popup-button {
  --ripple-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 14px;
  font-size: 16px;
  font-weight: 600;
  transition: background var(--transition-standard-in);
}

.rtmp-record-popup-button[disabled] {
  background: var(--secondary-color);
}

.rtmp-record-popup-preview-images {
  display: flex;
  align-items: center;
  gap: 64px;
  margin-top: 10px;
}

.rtmp-record-popup-preview-img_videoH {
  width: 110px;
  height: 72px;
  cursor: pointer;
}

.rtmp-record-popup-preview-img_videoV {
  width: 72px;
  height: 110px;
  cursor: pointer;
}

.rtmp-record-popup-preview-img_videoH,
.rtmp-record-popup-preview-img_videoV {
  border-radius: 12px;
  padding: 0;
  transition: all 0.05s ease-in-out;
}

.rtmp-record-popup-preview-img_active {
  border: 2px solid var(--primary-color);
  transition: all 0.05s ease-in-out;
}
