.Container {
  position: absolute;
  z-index: 2;

  --padding: 12px;
  --padding-bottom: 64px;

  padding: var(--padding);
  padding-bottom: var(--padding-bottom);
  top: 0;
  left: 0;
  right: 0;

  /* height: 340px; */
  max-height: 100%;

  --start-color: rgba(0, 0, 0, 0.15);
  /* --start-color: var(--background-color); */
  background-image: linear-gradient(to bottom, var(--start-color) calc(100% - var(--padding-bottom)), transparent);

  :global(.night) & {
    --start-color: rgba(0, 0, 0, 0.35);
}

  &EnterActive, &ExitActive {
    transition: opacity 0.1s ease-in-out, transform 0.16s ease-in-out;
  }

  &Enter, &ExitTo {
    opacity: 0;
    transform: translateY(-16px) scale(1.02);
  }
}

.Card {
  height: 100%;

  padding: 12px;

  background-color: var(--surface-color);
  border-radius: 16px;
}

.Overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
}

.TopLevelCheckbox {
  background-color: red;
}
