@use "../../../scss/variables" as *;
@use "../../../scss/mixins/respondTo" as *;
@use "../../../scss/mixins/hover" as *;

.pinned-live {
  height: var(--pinned-live-height) !important;
  gap: .25rem;

  &-content {
    flex: 1 1 auto;
    font-size: var(--font-size-14);
    line-height: var(--line-height-14);
    padding-inline: .25rem;
  }

  .skeleton {
    min-width: 6rem;
  }
}
