.PasswordMonkey {
  position: relative;
  width: var(--size);
  height: var(--size);

  margin: 0 auto;

  transition: opacity .4s, transform .4s;

  &.hidden {
    transform: scale(0.9);
    opacity: 0;
  }
}
