.PasswordMonkey {
  position: relative;
  width: var(--size);
  height: var(--size);

  margin: 0 auto;

  transition: opacity .4s, transform .4s;

  &.hidden {
    transform: scale(0.9);
    opacity: 0;
  }
}

.MonkeyImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  object-fit: contain;
}
