@import '../../scss/variables';
@import '../../scss/mixins';

.Container {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--surface-color);
}

.CanvasCommon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  opacity: var(--opacity-max, 1);

  &.blend {
    mix-blend-mode: soft-light;
  }
}


.Card {
  z-index: 1;

  width: 320px;
  max-width: 100%;
  padding: 16px 24px;
  border-radius: 20px;

  background-color: var(--surface-color);

  @include respond-to(handhelds) {
    width: 100%;
  }
}

.PasswordMonkey {
  position: relative;
  width: var(--size);
  height: var(--size);

  margin: 0 auto;
}

.Description {
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-text-color);
}

.LogoutButton {
  position: relative;
  color: inherit;
  text-decoration: underline;

  transition: color 0.1s;
  &:hover {
    color: hsl(from currentColor h s calc(l - 15));
  }

  /* Increase the clickable area on mobile devices */
  :global(.is-mobile) & {
    &::before {
      content: '';
      position: absolute;
      left: -0.5rem;
      right: -0.5rem;
      top: -0.5rem;
      bottom: -0.5rem;
    }
  }
}
