.popup {
  --popup-width: 22.5rem;
}

.header {
  position: absolute;
}

.mediaHeader {
  padding-top: 1.5rem;
}

.inviteLink {
  margin-top: 1rem;
  margin-inline: .5rem;
}

.joinLine {
  margin-bottom: 1rem;
  margin-top: .125rem;
}
