.popup-create-poll {
  $parent: ".popup";

  #{$parent} {
    &-container {
      max-height: 468px;
      padding: 0;
    }
  }

  .radio-field {
    margin: 0;
  }

  .hidden-widget, .radio-field:first-child:last-child {
    .btn-icon {
      pointer-events: none;
      opacity: 0 !important;
    }
  }

  .input-field {
    margin-top: 25px;
    .btn-icon {
      position: absolute;
      right: .5rem;
      top: 50%;
      z-index: 1;
      transform: translateY(-50%);
      opacity: 1;
      transition: opacity .2s ease;
    }
    /* &:last-child:not(:nth-child(10)) {
      .btn-icon {
        display: none;
      }
    } */
  }

  .caption {    
    color: #707579;
    font-weight: 500;
    padding: 1rem 1.5rem 0;
  }

  .poll-create-questions {
    padding: 0px 1.25rem 2.03125rem;
  }

  .poll-create-settings {
    padding: 0 .5rem .5rem;
  }

  hr {
    border-bottom: 1px solid #edeff1;
  }

  .subtitle {
    margin-top: .875rem;
    font-size: .875rem;
    line-height: 1.2;
  }
}