.popup-create-poll {
  $parent: ".popup";

  #{$parent} {
    &-container {
      //max-height: 468px;
      max-height: unquote('min(640px, 100%)');
      padding: 0;
    }
  }

  .radio-field {
    margin: 0;

    .radio-field-main {
      &::before {
        left: .25rem;
      }

      &::after {
        left: .5625rem;
      }
    }
  }

  .hidden-widget, .radio-field:first-child:last-child {
    .btn-icon {
      pointer-events: none;
      opacity: 0 !important;
    }
  }

  /* .poll-create-questions > label {
    margin-top: 25px;
  } */

  .input-field {
    //margin-top: 0;

    .btn-icon {
      position: absolute;
      right: .5rem;
      top: .5rem;
      z-index: 1;
      opacity: 1;
      transition: opacity .2s ease;
    }
    /* &:last-child:not(:nth-child(10)) {
      .btn-icon {
        display: none;
      }
    } */
  }

  .caption {    
    color: #707579;
    font-weight: 500;
    padding: 1rem 1.5rem 0;
  }

  .poll-create-questions {
    padding: 0px 1.25rem 2.03125rem;

    .input-field-input {
      padding-right: 3.25rem;
    }
  }

  .poll-create-settings {
    padding: 0 .5rem .5rem;
  }

  hr {
    border-top: 1px solid #edeff1;
  }

  .subtitle {
    margin-top: .875rem;
    font-size: .875rem;
    line-height: 1.2;
  }

  .btn-primary {
    width: 94px;
  }

  .menu-send {
    top: 54px;
    right: 20px;
  }
}