@use "../../shared" as *;

 .popup-delete-megagroup-messages {
  --popup-max-width: 420px;
  --popup-min-width: 360px;
  --disabled-opacity: 1;
  $parent: ".popup";
  @include text-overflow(true);

  #{$parent} {
    &-container {
      max-height: calc(var(--100vh) - 5rem);
    }

    &-body {
      margin: 0 -.5rem;
    }

    &-header {
      gap: 1rem;
    }

    &-buttons {
      margin: -.3125rem 0 .75rem;
    }
  }

  &-row {
    margin-inline-start: 3.375rem;
    padding-inline-start: 3.5rem;

    &-title {
      display: flex;
      align-items: center;
      gap: .5rem;
      font-weight: var(--font-weight-bold);
    }
  }

  &-expand-row {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: .5rem;

    &-icon {
      transform: rotate(0deg);

      // @include animation-level(2) {
      //   transition: transform var(--transition-standard-in);
      // }
    }

    &.is-expanded &-icon {
      transform: rotate(180deg);
    }
  }

  &-permissions {
    overflow: hidden;

    @include animation-level(2) {
      transition: max-height var(--transition-standard-in);
    }
  }

  &-avatars {
    --margin-right: -1.125rem;
    --border-size: 2px;
  }

  .scrollable-y {
    padding: 0 .5rem;

    .scrollable-thumb-container {
      display: none;
    }
  }
}
