.popup-gift-link {
  --link-color: var(--primary-color);
  word-break: break-word;

  &-header {
    text-align: center;
    margin: 1.5rem 0 1rem;
  }

  &-image {
    width: 120px;
    height: 120px;
  }

  &-title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-20);
    margin-bottom: .25rem;
  }

  &-wrapper {
    padding: 0 1rem;
  }

  &-share {
    text-align: center;
  }

  &-table {
    margin: 1rem 0;
  }

  .invite-link-container {
    padding: 0;
  }
}
