.popup {
  position: fixed!important;
  left: 0;
  top: 0;
  height: 100%;
  max-width: none;
  width: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, .3);
  margin: 0;
  padding: 0;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  overflow: auto;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    z-index: 4;

    .popup-container {
      transform: translateY(0);

      &.is-max-lines {
        margin-top: 38px;
      }
    }
    
  }

  &-container {
    position: relative;
    /* max-width: 400px; */
    border-radius: $border-radius-medium;
    background-color: #fff;
    padding: 1rem;
    transform: translateY(-40px);
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &-close {
    cursor: pointer;
    color: $color-gray;
    z-index: 3;
    text-align: center;
    justify-self: center;
    line-height: 1;
    transition: .2s;
    
    html.no-touch &:hover {
      color: #000;
    }
  }

  &-header {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
  }

  &-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .scrollable {
      position: relative;
    }
  }

  &-buttons {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		
		button {
			background: none;
			outline: none;
      border: none;
      font-weight: 500;
			padding: .5rem;
			text-transform: uppercase;
			transition: .2s;
			border-radius: $border-radius;
			cursor: pointer;
      color: $color-blue;
      position: relative;
			
			html.no-touch &:hover {
				background-color: rgba(112, 117, 121, 0.08);
			}
			
			& + button {
				margin-top: .5rem;
			}
		}
	}
}
