@import "../scss/mixins.scss";

.InstantView {
  --iv-max-width: 50rem;
  --iv-scale: 1.125;
  --padding-horizontal: calc(1rem * var(--iv-scale));
  padding: 0 var(--padding-horizontal);
  background-color: var(--surface-color);
  color: var(--text-primary);
  font-family: var(--font-family);
  max-width: var(--iv-max-width);
  margin: 0 auto;
  user-select: text;
  font-size: calc(var(--font-size-16) * var(--iv-scale));
  line-height: calc(var(--line-height-16) * var(--iv-scale));

  :global(.anchor-url) {
    color: var(--primary-color);
    background-color: var(--light-filled-primary-color);
    font-weight: var(--font-weight-bold);
  }

  :global(.text-highlight) {
    font-style: normal;
    background-color: var(--light-filled-secondary-text-color);
  }

  :global(.text-highlight),
  :global(.anchor-url) {
    padding: 0 .1666em;
    border-radius: .1666em;
  }
}

.Section {
  margin: 0 calc(var(--padding-horizontal) * -1);
}

.SectionName {
  padding: .375em var(--padding-horizontal);
  background-color: var(--light-secondary-text-color);
  font-size: 1.1111em;
  line-height: 1.3em;
  font-weight: var(--font-weight-bold);
}

.Channel {
  cursor: pointer;
}

.Title {
  font-size: 1.3333em;
  line-height: 1.25em;
  margin: .5em 0;
}

.AuthorDate {
  font-size: 0.8888em;
}

.Subtitle {
  font-size: 1.1111em;
  margin: 0.5em 0;
}

.Header {
  font-size: 1.25em;
  font-weight: var(--font-weight-bold);
  margin: .5em 0;
}

.Subheader {
  font-size: 1.1em;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.Paragraph {
  margin-bottom: 1em;
}

.Preformatted {
  background-color: var(--light-secondary-text-color);
  padding: 0.2222em var(--padding-horizontal);
  overflow-x: auto;
  margin: 0.6666em calc(var(--padding-horizontal) * -1);
}

.Footer {
  margin-top: 2em;
  font-size: 0.9em;
  color: var(--text-secondary);
  border-top: 1px solid var(--divider-color);
  padding-top: 1em;
}

.Divider {
  border: 0;
  border-top: 1px solid var(--divider-color);
  margin: 2em 0;
}

.List {
  margin-bottom: 1em;
  padding-left: 20px;
  
  li {
    margin-bottom: 0.5em;
  }
}

.Blockquote {
  border-left: 4px solid var(--primary-color);
  margin: 1em 0;
  padding-left: 16px;
  font-style: italic;
  
  .Caption {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: var(--text-secondary);
    font-style: normal;
  }
}

.Unsupported {
  color: var(--error-color);
  font-size: 0.8em;
  margin-bottom: 1em;
}

.Media {
  --width: min(var(--browser-width), var(--iv-max-width));
  margin: 0 -1em;
  position: relative;
  width: var(--width) !important;
  height: calc(var(--width) / var(--aspect-ratio)) !important;

  :global(.media-photo),
  :global(.media-video) {
    width: 100%;
    max-width: 100%;
  }
}

.RelatedArticle {
  cursor: pointer;
  padding: .75em var(--padding-horizontal);
  font-size: .8888em;
  display: block;
  color: currentColor;
  position: relative;
  padding-inline-end: calc(var(--padding-horizontal) + 7.25rem);

  &Title {
    line-height: 1.3125em;
  }

  &Description {
    margin: 0.25em 0;
    @include text-overflow(3);
  }

  &Description,
  &Author {
    font-size: 0.875em;
    line-height: 1.2857142857em;
  }

  &Photo {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    inset-inline-end: var(--padding-horizontal);
    top: .75em;
    border-radius: .5rem;
    overflow: hidden;

    :global(.media-photo) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &BorderTop {
    margin-inline-start: var(--padding-horizontal);
    height: 1px;
    background-color: var(--border-color);
  }
}

.Meta {
  background-color: var(--light-secondary-text-color);
  padding: .25em var(--padding-horizontal);
  font-size: .8888em;
  text-align: center;
}

.WrongLayout {
  color: currentColor;

  @include hover-global() {
    text-decoration: underline;
  }
}
