.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  circle {
    transform-origin: 50% 50%; /* Center rotation */
    animation: transcribe-button-spinner-animation 1s linear infinite, transcribe-button-spinner-length-animation 1.2s linear infinite alternate;
  }
}

@keyframes transcribe-button-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes transcribe-button-spinner-length-animation {
  0% {
    stroke-dasharray: 0 65.97;
  }
  100% {
    // stroke-dasharray: calc(var(--PI) * var(--radius)) calc(var(--PI) * var(--radius));
    stroke-dasharray: 32.98 32.98;
  }
}
