@use "../variables" as *;

@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/Chewy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('#{$fonts-path}/CourierPrime-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik Bubbles';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/RubikBubbles-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/SuezOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Playwrite BE VLG';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/PlaywriteBEVLG-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/FugazOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sedan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('#{$fonts-path}/Sedan-Regular.ttf') format('truetype');
}