@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Chewy-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(assets/fonts/CourierPrime-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rubik Bubbles';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/RubikBubbles-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Suez One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/SuezOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Playwrite BE VLG';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/PlaywriteBEVLG-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/FugazOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sedan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(assets/fonts/Sedan-Regular.ttf) format('truetype');
}