.fieldSectionCaption {
  margin-top: 0.5rem;
  padding: 0 var(--section-padding-inline);
  font-size: 13px;
  line-height: 1.3;
  color: var(--secondary-text-color);
  word-break: break-word;
  overflow: hidden;
}
