@use "../../../scss/variables" as *;
@use "../../../scss/mixins" as *;


.pollOption {
  position: relative;

  display: flex;
  align-items: center;

  gap: 0.75rem;

  --vertical-padding: 0.75rem;
  padding: var(--vertical-padding) 1rem var(--vertical-padding) 1.25rem;

  min-width: 240px;

  &.hasImage {
    --vertical-padding: 0.5rem;
  }
}

.optionImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.25rem;
  height: 2.25rem;
  border-radius: 6px;

  &Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &Btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.red {
  background-color: red;
}

.clickableArea {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.label {
  &Row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex: 1;

    pointer-events: none;
  }

  &Text {
    flex: 1;
  }

  &Stats {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &Number {
    color: var(--secondary-text-color);
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 0.875rem;
  }

  &Progress {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    transform: translateY(0.5625rem);

    --opacity: 0.15;
    background-color: rgba(0, 0, 0, var(--opacity));

    :global(.night) & {
      background-color: rgba(255, 255, 255, var(--opacity));
    }

    &Fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(var(--fill-width, 0) * 100%);

      border-radius: inherit;
      background-color: var(--primary-color);

      transition: width 0.3s ease;
    }
  }
}

.checkContainer {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent {
  font-size: 0.875rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
}

.chosenCheckbox {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-1.375rem, 0.875rem);

  --size: 0.875rem;
  --check-scale: 1.25;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

.header {
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
  padding: 0.75rem 1.25rem 0.25rem;
}

.title {
  font-weight: var(--font-weight-bold);
}

.subtitle {
  color: var(--secondary-text-color);
  font-size: 0.875rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatarGroup {
  display: flex;
  flex-direction: row-reverse;
  /* height: 28px; */
  height: 1em;
  align-items: center;
}

.avatarGroupItem {
  position: relative;

  &.pushOverNext {
    width: 0.625rem;
  }

  &Wrapper {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--surface-color);
  }
}

.addOptionPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.emojiDropdownButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;

  // The emoji is off center a little bit
  /* :global(.tgico) {
    position: relative;
    transform: translateX(0.5px);
  } */
}

.inputField {
  &Internals {
    position: relative;
    width: 100%;
    pointer-events: initial;
  }

  &Placeholder {
    left: 0;
    top: 0;
  }
}
