.page-password {
  .input-field-input {
    padding-right: 2.5rem;
    max-height: 54px;
    
    &[type="password"] {
      font-size: 2.25rem;
      padding-left: 10px;

      @media (-webkit-min-device-pixel-ratio: 2) { 
        font-size: 1.75rem;
        letter-spacing: .125rem;
      }

      html.is-ios & {
        // ! меньше 1rem будет зумить поле
        font-size: 1rem;
      }
    }
  }
  
  .toggle-visible {
    position: absolute;
    right: .25rem;
    z-index: 2;
    font-size: 1.25rem;
    color: $placeholder-color;
    cursor: pointer;
    transition: color .2s;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      content: $tgico-eye1;
    }

    &.eye-hidden:before {
      content: $tgico-eye2;
    }
    
    @include hover() {
      color: #000;
    }
  }
}