@use "../../../../scss/variables" as *;
@use "../../../../scss/mixins" as *;


.container {
  display: block;
  /* min-width: 300px; */
}

.pollOption {
  position: relative;

  display: flex;
  align-items: center;

  gap: 0.75rem;

  --vertical-padding: 0.75rem;
  padding: var(--vertical-padding) 0.75rem var(--vertical-padding) 1rem;

  min-width: 280px;

  &.hasMedia {
    --vertical-padding: 0.5rem;
  }

  &Media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.25rem;
    height: 2.25rem;

    &.stripped {
      overflow: hidden;
      border-radius: 6px;
    }

    &.clickable {
      cursor: pointer;
      z-index: 1;
    }

    &AttachImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }

    &AttachBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.clickableArea {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;

  @include hover-global(gray, background-color, true);

  &.outgoing {
    @include hover-global(rgba(255, 255, 255, 0.1), background-color, true);
  }
}

.label {
  &Row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    flex: 1;
  }

  &Text {
    flex: 1;
  }

  &Stats {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    user-select: none;
  }

  &Number {
    color: var(--secondary-text-color);
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 0.875rem;
  }

  &Progress {
    position: absolute;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 0.25rem;
    transform: translateY(9px);

    --opacity: 0.15;
    background-color: rgba(0, 0, 0, var(--opacity));

    :global(.night) & {
      background-color: rgba(255, 255, 255, var(--opacity));
    }

    &Fill {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      --zero-offset: 5px;
      width: calc(var(--zero-offset) + var(--progress, 0) * (100% - var(--zero-offset)));

      border-radius: inherit;
      background-color: var(--primary-color);

      transition: width var(--transition-time) linear;
    }

    &.correct &Fill {
      background-color: var(--gc-green-text-color);
    }

    &.wrong &Fill {
      background-color: var(--gc-red-text-color);
    }

    &.isOutgoing &Fill {
      background-color: white;
    }
  }
}

.checkContainer {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent {
  font-size: 0.875rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0.25rem, -50%);
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
  user-select: none;
}

.chosenCheckbox {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-1.5rem, 0.875rem);

  --checkbox-size: 0.875rem;
  --checkbox-scale: 1.25;

  &.correct {
    --checkbox-background-color: var(--gc-green-text-color);
  }

  &.wrong {
    --checkbox-background-color: var(--gc-red-text-color);
  }
}

.footer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  user-select: none;

  color: var(--secondary-text-color);

  &.clickable {
    cursor: pointer;
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
  }
}

.header {
  display: flex;
  gap: 1rem;
  padding: 0.75rem 0.625rem 0.25rem 0.5rem;
  align-items: center;

  &TitleContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &Title {
    font-weight: var(--font-weight-bold);
  }

  &Subtitle {
    color: var(--secondary-text-color);
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;

    user-select: none;
  }
}

.avatarGroup {
  display: flex;
  flex-direction: row-reverse;
  /* height: 28px; */
  height: 1em;
  align-items: center;
}

.avatarGroupItem {
  position: relative;

  &.pushOverNext {
    width: 0.625rem;
  }

  &Wrapper {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--surface-color);
  }

  &.outgoing &Wrapper {
    border-color: var(--message-out-background-color);
  }
}

.addOptionPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.emojiDropdownButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem;

  // The emoji is off center a little bit
  /* :global(.tgico) {
    position: relative;
    transform: translateX(0.5px);
  } */
}

.inputField {
  &Internals {
    position: relative;
    width: 100%;
    pointer-events: initial;
  }

  &Input {
    background-color: unset;
  }

  &Placeholder {
    left: 0;
    top: 0;

    &.outgoing {
      color: white;
    }
  }
}

.explanation {
  &Text {
    white-space: pre-wrap;
  }

  &Image {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
}

.description {
  font-size: 0.875em;
  padding: 0.75rem 0.5rem 0;
}

.pollImage {
  position: relative;
  overflow: hidden;

  border-radius: 4px;
  border-start-start-radius: calc(var(--border-start-start-radius) - 1px);
  border-start-end-radius: calc(var(--border-start-end-radius) - 1px);

  cursor: pointer;

  &Wrapper {
    padding: 1px;
  }
}

.pathDot {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-23px, 9px);
}
