.root {
  position: relative;
  --message-highlighting-color: hsla(85.5319, 36.9171%, 40.402%, .4);
  --message-highlighting-hover-color: rgba(var(--message-highlighting-color-rgb), calc(var(--message-highlighting-alpha) + .24));
  --message-status-color: var(--secondary-text-color);
  --message-out-status-color: var(--message-out-primary-color);
  --message-out-icon-text-color: var(--message-out-background-color);

  :global(.bubble-content-wrapper) {
    align-items: center;
  }
}

.content {
  z-index: 1;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}